h4{
  margin-bottom: 0px;
}

h1{
  margin-top: 0px;
}

h5 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 14px;
}



.transaction-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.transaction{
  width: 80%;
  margin-bottom: 20px;
  background-color: var(--ion-color-secondary);
  border-radius: 15px;
  padding: 15px 10px;
}

@media (max-width: 768px) {
  .transaction {
    max-width: 95%;
  }
}

.top-container{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.bottom-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-container{
  display: flex;
  flex-direction: row;
  align-items: end;
}

.reason-container{
  background-color: white;
  border-radius: 50px;
  padding: 5px 10px;
  margin-bottom: 5px;
  max-width: 165px;
}

.reason-container h5{
  font-size: 14px;
  color: var(--ion-color-dark);
  margin-bottom: -2px;
  text-align: left;
}

.top-container span{
  margin-bottom: 10.5px;
}

.bottom-container .member-info {
  display: inline-flex;
  align-items: center;
  height: 30px;
  border-radius: 50px;
  gap: 10px;
  background: var(--member-color-background, rgba(252, 238, 238, 0.84));
  border: 2px solid var(--member-color, #1a65eb);
  padding: 5px 10px 5px 5px;
}

.profile-placeholder {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--user-color, #1a65eb);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--ion-color-dark);
  font-size: 18px;
  border: 2px solid var(--user-color, #1a65eb);
}

.balance-info {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 7px 10px;
  font-size: 14px;
  margin-left: auto;
}

@media (prefers-color-scheme: dark) {
  .date {
    color: var(--ion-color-light);
  }
  .add-product-wrapper{
    background-color: transparent;
  }
  .reason-container h5{
    color: var(--ion-color-dark) !important;
  }
  .transaction-tags{
    color: var(--ion-color-dark) !important;
  }
  ion-input {
    color: #000 !important;
  }
  .show-details-button span {
    color: #8c8c8c;
}

}
