<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button class="back-button" slot="start"><</ion-button>
    <div class="divider" slot="start"></div>
    <ion-title slot="start">group</ion-title>
    <ion-title slot="end" class="username"[routerLink]="'/account-settings'">Hi {{ user || 'NA' }}</ion-title>
    <ion-button (click)="logout()" slot="end" class="logout-button">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="page-container">
    <ion-button class="edit-button">bearbeiten</ion-button>
    <div class="image-upload">
      <ng-container *ngIf="groupImage; else placeholder">
        <img [src]="groupImage" alt="Gruppenbild" class="group-image" />
      </ng-container>
      <ng-template #placeholder>
        <div class="upload-placeholder"></div>
      </ng-template>
    </div>

    <h1>Gruppenname</h1>
    <div class="separator"></div>

    <ion-card class="Finanzübersicht" [routerLink]="'/finance'">
      <div class="card-content">
        <ion-card-title>Finanzübersicht</ion-card-title>
        <ion-card-subtitle
          [ngClass]="{ 'negative': balance < 0, 'positive': balance >= 0 }"
        >
          <span *ngIf="balance >= 0">Mein Guthaben:</span>
          <span *ngIf="balance < 0">Meine Schulden:</span>
          {{ balance | currency: 'EUR' }}
        </ion-card-subtitle>
      </div>
    </ion-card>

    <ion-card class="Ausgaben" [routerLink]="'/expance'">
      <div class="card-content">
        <ion-card-title>Ausgaben</ion-card-title>
        <ion-card-subtitle>
          <p>Gesamtausgaben | {{ currentMonth }}</p>
          <h6>{{ totalCost | currency: 'EUR' }}</h6>
        </ion-card-subtitle>
      </div>
    </ion-card>

    <ion-card class="Einkaufsliste">
      <div class="card-content">
        <ion-card-title>Einkaufsliste</ion-card-title>
        <ion-card-subtitle>
          <p>{{ shoppingList.length }} Produkte auf der Liste.</p>
        </ion-card-subtitle>
      </div>
    </ion-card>

    <ion-card class="Anlagegüter">
      <div class="card-content">
        <ion-card-title>Anlagegüter</ion-card-title>
        <ion-card-subtitle>
          <p>{{ assetsList.length }} Güter eingetragen.</p>
        </ion-card-subtitle>
      </div>
    </ion-card>
  </div>
</ion-content>
