.image-upload {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--ion-color-secondary);
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.group-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.myBalance{
  padding: 5px 10px;
  margin-left: -5px;
  border-radius: 50px;
}
