<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="left-container" slot="start">
      <ion-icon [src]="iosIcons ? 'assets/icon/ionicons/ios-arrow-back.svg' : 'assets/icon/ionicons/md-arrow-back.svg'"
                class="back-button" (click)="goBack()"></ion-icon>
      <div class="divider"></div>
      <div class="pagename">Gruppe</div>
    </div>

    <div class="right-container" slot="end">
      <div class="user-info" [routerLink]="'/account-settings'">
        <div class="profile-placeholder"></div>
        <span class="member-name">{{ user }}</span>
      </div>
      <ion-icon [src]="iosIcons ? 'assets/icon/ionicons/ios-log-out.svg' : 'assets/icon/ionicons/md-log-out.svg'"
                (click)="logout()" class="logout-button"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="loading" class="loading-overlay">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Loading ...</p>
  </div>

    <div class="page-container">
    <ion-button class="edit-button" [routerLink]="'/edit-group'">bearbeiten</ion-button>
    <div class="image-upload">
      <ng-container *ngIf="groupImage; else placeholder">
        <img [src]="groupImage" alt="Gruppenbild" class="group-image" />
      </ng-container>
      <ng-template #placeholder>
        <div class="upload-placeholder"></div>
      </ng-template>
    </div>
      <ion-icon name="logo-ionic"></ion-icon>
    <h1>{{ groupname }}</h1>
    <div class="separator"></div>

    <ion-card class="Finanzübersicht" [routerLink]="'/finance'">
      <div class="card-content">
        <ion-card-title>Finanzübersicht</ion-card-title>
        <ion-card-subtitle
          [ngClass]="{ 'negative': myBalance < 0, 'positive': myBalance >= 0 }"
        >
          <span *ngIf="myBalance >= 0">Mein Guthaben:</span>
          <span *ngIf="myBalance < 0">Meine Schulden:</span>
          {{ myBalance | currency: 'EUR' }}
        </ion-card-subtitle>
      </div>
    </ion-card>

    <ion-card class="Ausgaben" [routerLink]="'/expense'">
      <div class="card-content">
        <ion-card-title>Ausgaben</ion-card-title>
        <ion-card-subtitle>
          <p>Gesamtausgaben | {{ currentMonth }}</p>
          <h6>{{ totalCost | currency: 'EUR' }}</h6>
        </ion-card-subtitle>
      </div>
    </ion-card>

    <ion-card class="Einkaufsliste">
      <div class="card-content">
        <ion-card-title>Einkaufsliste</ion-card-title>
        <ion-card-subtitle>
          <p>{{ shoppingList.length }} Produkte auf der Liste.</p>
        </ion-card-subtitle>
      </div>
    </ion-card>

    <ion-card class="Anlagegüter">
      <div class="card-content">
        <ion-card-title>Anlagegüter</ion-card-title>
        <ion-card-subtitle>
          <p>{{ assetsList.length }} Güter eingetragen.</p>
        </ion-card-subtitle>
      </div>
    </ion-card>
  </div>
</ion-content>
