<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <div class="left-container" slot="start">
      <ion-icon
        [src]="iosIcons ? 'assets/icon/ionicons/ios-arrow-back.svg' : 'assets/icon/ionicons/md-arrow-back.svg'"
        class="back-button"
        (click)="goBack()"
      ></ion-icon>
    </div>

    <div class="right-container" slot="end">
      <div class="user-info" [routerLink]="'/account-settings'">
        <div class="profile-placeholder"></div>
        <span class="member-name">{{ user }}</span>
      </div>
      <ion-icon
        class="edit-button"
        [src]="iosIcons ? 'assets/icon/ionicons/ios-create.svg' : 'assets/icon/ionicons/md-create.svg'"
        [routerLink]="['/edit-group', groupId]"
      ></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-container">
    <div class="image-upload">
      <ng-container *ngIf="currentGroup?.groupimage; else placeholder">
        <img
          [src]="currentGroup?.groupimage"
          alt="Gruppenbild"
          class="group-image"
        />
      </ng-container>
      <ng-template #placeholder>
        <div class="upload-placeholder"></div>
      </ng-template>
    </div>

    <h1>{{ groupname }}</h1>
    <div class="separator"></div>

    <ion-card
      *ngFor="let feature of features; let i = index"
      class="feature-card"
      [routerLink]="getFeatureLink(feature)"
    >
      <div class="card-content">
        <ion-card-title>{{ feature }}</ion-card-title>
        <ion-card-subtitle>
          <ng-container [ngSwitch]="feature">
            <!-- Finanzübersicht -->
            <div *ngSwitchCase="'Finanzübersicht'">
              <span
                class="myBalance"
                [ngClass]="{ 'negative': myBalance < 0, 'positive': myBalance >= 0 }"
              >
                <span *ngIf="myBalance >= 0">Mein Guthaben:</span>
                <span *ngIf="myBalance < 0">Meine Schulden:</span>
                {{ myBalance | currency: 'EUR' }}
              </span>
            </div>

            <!-- Ausgaben -->
            <div *ngSwitchCase="'Ausgaben'">
              <p>Gesamtausgaben</p>
              <h6>{{ sumTotalExpenses | currency: 'EUR' }}</h6>
            </div>

            <!-- Einkaufsliste -->
            <div *ngSwitchCase="'Einkaufsliste'">
              <p>{{ shoppingList.length }} Produkte auf der Liste.</p>
            </div>

            <!-- Anlagegüter -->
            <div *ngSwitchCase="'Anlagegüter'">
              <p>{{ assetsList.length }} Güter eingetragen.</p>
            </div>

            <!-- Standardfall -->
            <div *ngSwitchDefault>
              <p>Keine Daten verfügbar.</p>
            </div>
          </ng-container>
        </ion-card-subtitle>
      </div>
    </ion-card>
  </div>
</ion-content>
