.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.login h1{
  margin-bottom: 20px;
}

.login ion-item{
  width: 80%;
  margin-bottom: 10px;
}

.login .main-button{
  width: 80%;
  margin-top: 20px;
}

.login .logo{
  width: 30%;
  margin-bottom: 20%;
}


