<ion-header [translucent]="true" class="header">
  <div class="backdrop-wrapper">
    <ion-toolbar>
      <div class="left-container" slot="start">
        <ion-icon
          [src]="iosIcons ? 'assets/icon/ionicons/ios-arrow-back.svg' : 'assets/icon/ionicons/md-arrow-back.svg'"
          class="back-button"
          (click)="goBack()"
        ></ion-icon>
      </div>

      <div class="right-container" slot="end">
        <div class="user-info" [routerLink]="'/account-settings'">
          <div class="profile-placeholder"></div>
          <span class="member-name">{{ user }}</span>
        </div>
        <ion-icon
          [src]="'assets/icon/ionicons/information-outline.svg'"
          (click)="toggleInfoOverlay()"
        ></ion-icon>
      </div>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div
    class="info-overlay"
    [ngClass]="{
      'hidden': overlayState === 'hidden',
      'normal': overlayState === 'normal',
      'start': overlayState === 'start',
      'slideUp': overlayState === 'normal',
      'slideDown': overlayState === 'hidden'
    }"
    (click)="toggleInfoOverlay()">
    <div class="info-wrapper" (click)="$event.stopPropagation()">
      <h5>Info - Finanzübersicht</h5>
      <p>
        Auf dieser Seite siehst du deine <strong>persönliche Finanzübersicht</strong> innerhalb dieser Gruppe.
      </p>
      <p>
        Der große Betrag in der Mitte zeigt dir, ob du insgesamt <strong>Guthaben</strong> oder <strong>Schulden</strong> hast – also ob dir andere Gruppenmitglieder Geld schulden oder du ihnen noch etwas zurückzahlen musst.
      </p>
      <p>
        Darunter findest du eine Liste aller Gruppenmitglieder (außer dir selbst) mit den jeweiligen Beträgen:
      </p>
      <ul>
        <li><strong>Positiver Betrag:</strong> Diese Person schuldet dir Geld, werden in grün angezeigt.</li>
        <li><strong>Negativer Betrag:</strong> Du schuldest dieser Person Geld, werden in rot angezeigt.</li>
      </ul>
      <p>
        Durch Tippen auf ein Mitglied kannst du eine <strong>Detailansicht</strong> öffnen, in der alle gemeinsamen Ausgaben mit dieser Person aufgelistet sind.
      </p>
    </div>
  </div>

  <div class="page-container">
    <h4 >{{ groupname }}</h4>
    <h1>Finanzübersicht</h1>

    <ion-card
      class="finance-card"
      [ngClass]="{ 'negative': myBalance < 0, 'positive': myBalance >= 0 }">
      <div class="card-content-finance">
        <h2>{{ myBalance | currency: 'EUR' }}</h2>
        <p>
          {{ myBalance < 0 ? 'Schulden' : 'Guthaben' }}
        </p>
      </div>
    </ion-card>

    <div class="menu">
      <div class="menu-text active">
        <span>Bilanz</span>
      </div>
      <div class="divider"></div>
      <div class="menu-text" [routerLink]="['/transactions', groupId]">
        <span>Transaktionen</span>
      </div>
    </div>

    <ion-list class="balance-list">
      <ion-item class="info-item" [routerLink]="['/detailed-balance', groupId, member.uid]" *ngFor="let member of groupMembers">
        <div class="member-info"
             [ngStyle]="{
              'background-color': 'var(--member-color-background-' + member.uid + ')',
              'border-color': 'var(--member-color-' + member.uid + ')'
            }">
          <div
            class="profile-placeholder"
            [ngStyle]="{
              'background-color': 'var(--member-color-' + member.uid + ')',
              'border-color': 'var(--member-color-' + member.uid + ')'
            }">
          </div>
          <span class="member-name">{{ member.username }}</span>
        </div>

        <ion-badge
          class="balance-info"
          [ngClass]="{ 'negative': member.amount < 0, 'positive': member.amount >= 0 }"
        >
          {{ (member.amount || 0) | currency: 'EUR' }}
        </ion-badge>

      </ion-item>
    </ion-list>
  </div>
</ion-content>
