<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="left-container" slot="start">
      <ion-icon [src]="iosIcons ? 'assets/icon/ionicons/ios-arrow-back.svg' : 'assets/icon/ionicons/md-arrow-back.svg'"
                class="back-button" (click)="goBack()"></ion-icon>
      <div class="divider"></div>
      <div class="pagename">Finanzübersicht</div>
    </div>

    <div class="right-container" slot="end">
      <div class="user-info" [routerLink]="'/account-settings'">
        <div class="profile-placeholder"></div>
        <span class="member-name">{{ user }}</span>
      </div>
      <ion-icon [src]="iosIcons ? 'assets/icon/ionicons/ios-log-out.svg' : 'assets/icon/ionicons/md-log-out.svg'"
                (click)="logout()" class="logout-button"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-container">
    <h4 >{{ groupname }}</h4>
    <h1>Finanzübersicht</h1>

    <ion-card
      class="finance-card"
      [ngClass]="{ 'negative': myBalance < 0, 'positive': myBalance >= 0 }">
      <div class="card-content-finance">
        <h2>{{ myBalance | currency: 'EUR' }}</h2>
        <p>
          {{ myBalance < 0 ? 'Schulden' : 'Guthaben' }} | seit dem {{
          lastTransactionDate | date:'dd.MM.yyyy' }}
        </p>
      </div>
    </ion-card>

    <div class="menu">
      <div class="menu-text active">
        <span>Bilanz</span>
      </div>
      <div class="divider"></div>
      <div class="menu-text">
        <span>Transaktionen</span>
      </div>
    </div>

    <ion-list class="balance-list">
      <ion-item class="info-item" *ngFor="let member of groupMembers">
        <div class="member-info"
             [ngStyle]="{
              'background-color': 'var(--member-color-background-' + member.uid + ')',
              'border-color': 'var(--member-color-' + member.uid + ')'
            }">
          <div
            class="profile-placeholder"
            [ngStyle]="{
              'background-color': 'var(--member-color-' + member.uid + ')',
              'border-color': 'var(--member-color-' + member.uid + ')'
            }">
          </div>
          <span class="member-name">{{ member.username }}</span>
        </div>

        <ion-badge
          class="balance-info"
          [ngClass]="{ 'negative': member.amount < 0, 'positive': member.amount >= 0 }"
        >
          {{ member.amount | currency: 'EUR' }}
        </ion-badge>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
