<ion-header [translucent]="true" class="header">
  <div class="backdrop-wrapper">
    <ion-toolbar>
      <div class="right-container" slot="end">
        <div class="user-info" [routerLink]="'/account-settings'">
          <div class="profile-placeholder"></div>
          <span class="member-name">{{ username }}</span>
        </div>
      </div>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-container">
    <div class="profile-placeholder"></div>

    <h2>Meine Gruppen</h2>
    <div class="menu">
      <div class="menu-text active">
        <span>Meine Gruppen</span>
      </div>
      <div class="divider"></div>
      <div class="menu-text" [routerLink]="['/overall-balance']">
        <span>Meine Gesamtbilanz</span>
      </div>
    </div>

    <div *ngIf="groups.length === 0" class="no-groups">
      <p>Noch keine Gruppen vorhanden.</p>
    </div>

    <!-- Gruppenliste -->
    <ion-list class="group-list" *ngIf="groups.length > 0">
      <ion-card
        class="my-groups"
        *ngFor="let group of groups"
        [class.edit-mode]="isEditMode"
        [draggable]="isEditMode"
        (click)="!isEditMode && navigateToGroup(group.link)"
        (mousedown)="onLongPressStart(group)"
        (mouseup)="onLongPressCancel()"
        (mouseleave)="onLongPressCancel()"
        (touchstart)="onLongPressStart(group); onTouchStart($event, group)"
        (touchend)="onLongPressCancel()"
        (touchmove)="onTouchMove($event, group)"
        (dragstart)="onDragStart($event, group)"
        (dragover)="allowDrop($event)"
        (drop)="onDrop($event, group)"
      >
        <div class="card-content">
          <ion-card-title class="groupname">{{ group.name }}</ion-card-title>
          <ion-card-subtitle
            [ngClass]="{ 'negative': group.myBalance < 0, 'positive': group.myBalance >= 0 }"
          >
            <span *ngIf="group.myBalance >= 0">Mein Guthaben:</span>
            <span *ngIf="group.myBalance < 0">Meine Schulden:</span>
            {{ group.myBalance | currency: 'EUR' }}
          </ion-card-subtitle>
        </div>
      </ion-card>
    </ion-list>

    <div class="space"></div>

    <div class="button-container">
      <ion-button
        *ngIf="isEditMode"
        expand="block"
        class="main-button"
        (click)="stopEditMode()"
        >Fertig
      </ion-button>

      <ion-button
        class="main-button"
        expand="block"
        [routerLink]="'/create-group'"
      >
        Neue Gruppe erstellen +
      </ion-button>
      <ion-button
        class="main-button"
        expand="block"
        [routerLink]="'/join-group'"
      >
        Gruppe beitreten
      </ion-button>
    </div>
  </div>
</ion-content>
