.page-container {
  width: 100%;
  max-width: 100%;
  padding: 16px; // Optional für Abstand zum Rand
  box-sizing: border-box;
}

.my-groups {
  width: 100%; // Stellt sicher, dass die Karte die volle Breite hat
  max-width: 100%; // Verhindert, dass sie aus dem Container ragt
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.card-content {
  width: 100%;
  text-align: center;
}

.group-list {
  max-height: calc(100% - 120px); /* Platz für die Buttons */
  overflow-y: auto; /* Scrollbar aktivieren, falls nötig */
  padding-bottom: 80px; /* Platz für die fixierte button-container */
}

::ng-deep ion-reorder-group {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: stretch; // zentriert die Cards

}

::ng-deep ion-reorder {
  width: 100% !important;
  display: flex;
  justify-content: center;
  padding: 0 !important;
  margin: 0 !important;
}

::ng-deep ion-list,
::ng-deep ion-reorder-group {
  margin: 0 auto !important;
  width: 100%;
}

::ng-deep ion-reorder > ion-card {
  width: 87% !important;
  max-width: 800px;
  height: 120px;
  margin: 0 auto 20px auto; // oben: 0, rechts/links: auto, unten: 20px}
}


.pagename {
  margin-left: 10px;
}

.page-container .profile-placeholder {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

@keyframes wiggle {
  0% { transform: rotate(0.7deg); }
  25% { transform: rotate(-0.7deg); }
  50% { transform: rotate(0.7deg); }
  75% { transform: rotate(-0.7deg); }
  100% { transform: rotate(0.7deg); }
}

.wiggle {
  animation: wiggle 0.3s infinite;
}

@media (prefers-color-scheme: dark) {

}

