<ion-header translucent="true" class="header">
  <div class="backdrop-wrapper">
    <ion-toolbar>
      <div class="user-info" [routerLink]="'/account-settings'">
        <div class="profile-placeholder"></div>
        <span class="member-name">{{ username }}</span>
      </div>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-container">
    <h2>Meine Gruppen</h2>

    <div class="menu">
      <div class="menu-text active">
        <span>Meine Gruppen</span>
      </div>
      <div class="divider"></div>
      <div class="menu-text" [routerLink]="['/overall-balance']">
        <span>Meine Gesamtbilanz</span>
      </div>
    </div>

    <div *ngIf="groups.length === 0" class="no-groups">
      <p>Noch keine Gruppen vorhanden.</p>
    </div>

    <ion-list class="group-list" *ngIf="groups.length > 0">
      <ion-reorder-group
        [disabled]="!isEditMode"
        (ionItemReorder)="handleReorder($event)"
      >
        <ion-reorder *ngFor="let group of groups">
          <ion-card
            class="my-groups"
            [class.wiggle]="isEditMode"
            (click)="navigateToGroup(group.link)"
            (mousedown)="onLongPressStart()"
            (mouseup)="onLongPressCancel()"
            (mouseleave)="onLongPressCancel()"
            (touchstart)="onLongPressStart()"
            (touchend)="onLongPressCancel()"
          >
            <div class="card-content">
              <ion-card-title class="groupname">{{ group.name }}</ion-card-title>
              <ion-card-subtitle>
                <span *ngIf="group.myBalance >= 0">Mein Guthaben:</span>
                <span *ngIf="group.myBalance < 0">Meine Schulden:</span>
                <ion-badge
                  [ngClass]="{
                    negative: group.myBalance < 0,
                    positive: group.myBalance >= 0
                  }"
                >
                  {{ group.myBalance | currency: 'EUR' }}
                </ion-badge>
              </ion-card-subtitle>
            </div>
          </ion-card>
        </ion-reorder>
      </ion-reorder-group>
    </ion-list>

    <div class="space"></div>

    <div class="button-container">
      <ion-button
        *ngIf="isEditMode"
        expand="block"
        class="main-button"
        (click)="stopEditMode()"
      >
        Fertig
      </ion-button>

      <ion-button
        class="main-button"
        expand="block"
        [routerLink]="'/create-group'"
      >
        Neue Gruppe erstellen
      </ion-button>
      <ion-button
        class="main-button"
        expand="block"
        [routerLink]="'/join-group'"
      >
        Gruppe beitreten
      </ion-button>
    </div>
  </div>
</ion-content>
