.page-container {
  width: 100%;
  max-width: 100%;
  padding: 0 16px 16px;
  box-sizing: border-box;
  margin-top: 0;
}

.backdrop-wrapper{
  height: 150px !important;
}

ion-header ion-toolbar:first-of-type{
  padding-top: 125px !important;
}

ion-toolbar{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user-info {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 100px;
  gap: 10px;
  background: var(--user-color-background, rgba(218, 218, 218, 0.84));
  border: 3px solid var(--user-color, #1a65eb);
  padding: 7px 14px 7px 10px;
  margin-bottom: 20px;
  //max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}


.user-info .profile-placeholder {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--user-color, #1a65eb);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--ion-color-dark);
  font-size: 36px;
  border: 2px solid var(--user-color);
}

.user-info span{
  font-size: 28px;
}


.my-groups {
  width: 100%; // Stellt sicher, dass die Karte die volle Breite hat
  max-width: 100%; // Verhindert, dass sie aus dem Container ragt
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

ion-card-subtitle{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  width: 100%;
  padding-left: 2px;
}

ion-card-subtitle span {
  font-size: 16px;
  font-weight: 500;
}

ion-badge{
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50px;
  --background-color: white !important;
}

.card-content {
  width: 100%;
  text-align: center;
}

.group-list {
  max-height: calc(100% - 120px); /* Platz für die Buttons */
  overflow-y: auto; /* Scrollbar aktivieren, falls nötig */
  padding-bottom: 80px; /* Platz für die fixierte button-container */
}

::ng-deep ion-reorder-group {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: stretch; // zentriert die Cards

}

::ng-deep ion-reorder {
  width: 100% !important;
  display: flex;
  justify-content: center;
  padding: 0 !important;
  margin: 0 !important;
}

::ng-deep ion-list,
::ng-deep ion-reorder-group {
  margin: 0 auto !important;
  width: 100%;
}

::ng-deep ion-reorder > ion-card {
  width: 87% !important;
  max-width: 800px;
  height: 120px;
  margin: 0 auto 20px auto; // oben: 0, rechts/links: auto, unten: 20px}
}


.pagename {
  margin-left: 10px;
}


@keyframes wiggle {
  0% { transform: rotate(0.7deg); }
  25% { transform: rotate(-0.7deg); }
  50% { transform: rotate(0.7deg); }
  75% { transform: rotate(-0.7deg); }
  100% { transform: rotate(0.7deg); }
}

.wiggle {
  animation: wiggle 0.3s infinite;
}

/* Skeleton Loader Styles */
.skeleton-list {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 15px !important;
}

.skeleton-card {
  width: 85% !important;
  height: 40px !important;
  border-radius: 16px !important;
  overflow: hidden !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
 padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 60px !important;
  padding-bottom: 60px !important;
  background: #f3eff0 !important;
  box-shadow: 4px 4px 15px rgba(111, 111, 111, 0.24) !important;
  position: relative !important;
  margin-bottom: 32px !important;
}

.skeleton-row {
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.skeleton-title {
  height: 32px !important;
  width:  40% !important;
  background: #8b8b8b !important;
  border-radius: 8px !important;
  margin-left: 5px !important;
}

.skeleton-subtitle {
  height: 16px !important;
  width: 50% !important;
  background: #7f7f7f !important;
  border-radius: 10px !important;
  margin-left: 5px !important;
  margin-top: 5px !important;
}

.skeleton-badge {
  height: 24px !important;
  width: 23% !important;
  background: #e0e0e0 !important;
  border-radius: 16px !important;
  margin-top: 5px !important;
  margin-right: 5px !important;
}

.skeleton-blink {
  position: relative !important;
  overflow: hidden !important;
  background: linear-gradient(
    90deg,
    #888888 0%,
    #b0b0b0 100%
  ) !important;
  animation: skeleton-blink-fade 1s infinite alternate !important;
}
.skeleton-blink::after {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: -200% !important;
  height: 100% !important;
  width: 300% !important;
  background: linear-gradient(
    90deg,
    rgba(206, 206, 206, 0.05) 0%,
    rgba(205, 205, 205, 0.15) 40%,
    rgba(255,255,255,0.8) 60%,
    #cccccc 80%,
    #bbbbbb 100%
  ) !important;
  animation: shimmer 0.35s infinite !important;
  z-index: 2 !important;
  pointer-events: none !important;
}

@keyframes shimmer {
  0% {
    left: -200%;
  }
  100% {
    left: 200%;
  }
}

@keyframes skeleton-blink-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@media (prefers-color-scheme: dark) {

}

