<ion-content [fullscreen]="true">
  <div id="container" class="container">
    <img [src]="groupImage || 'assets/logo/LogoWeiss.png'" alt="Logo" class="logo" />

    <h3>Gruppe bearbeiten</h3>

    <div class="image-wrapper" (click)="selectImage()">
      <div class="image-upload">
        <ng-container *ngIf="groupImage; else placeholder">
          <img [src]="groupImage" alt="Gruppenbild" class="group-image" />
        </ng-container>
        <ng-template #placeholder>
          <div class="upload-placeholder">+</div>
        </ng-template>
      </div>
      <ion-icon
        *ngIf="groupImage"
        class="edit-icon"
        [src]="iosIcons ? 'assets/icon/ionicons/ios-create.svg' : 'assets/icon/ionicons/md-create.svg'">
      </ion-icon>
    </div>
    <input type="file" hidden #fileInput (change)="onFileSelected($event)" />

    <div class="edit-fields">
      <span class="input-label">Access Code</span>
      <ion-item class="input-item">
        <ion-input
          type="text"
          placeholder="Access Code"
          [(ngModel)]="accessCode"
        ></ion-input>
        <ion-icon [src]="'assets/icon/ionicons/qr-code-outline.svg'" (click)="generateQRCode()"></ion-icon>
      </ion-item>
    </div>

    <div *ngIf="showQRCode" class="qr-code-wrapper">
      <qrcode [qrdata]="qrCodeValue  || 'default-value'" [width]="256" [errorCorrectionLevel]="'M'" [allowEmptyString]= 'true'></qrcode>
    </div>


    <div class="edit-fields">
      <span class="input-label">Gruppenname</span>
      <ion-item class="input-item">
        <ion-input
          type="text"
          placeholder="Gruppenname"
          [(ngModel)]="groupname"
        ></ion-input>
      </ion-item>
    </div>

    <div class="edit-fields">
      <span class="input-label">Mitglieder</span>
      <ion-list class="member-list">
        <ion-item class="member-item" *ngFor="let member of members">
          <div class="member-info"
               [ngStyle]="{
                 'background-color': 'var(--member-color-background-' + member.uid + ')',
                 'border-color': 'var(--member-color-' + member.uid + ')'
               }">
            <div
              class="profile-placeholder"
              [ngStyle]="{
                'background-color': 'var(--member-color-' + member.uid + ')',
                'border-color': 'var(--member-color-' + member.uid + ')'
              }">
            </div>
            <span class="member-name">{{ member.username }}</span>
          </div>
          <ion-button
            *ngIf="userUid === founder || userUid === member.uid"
            fill="clear"
            color="danger"
            (click)="userUid === founder && userUid !== member.uid ? removeMemberFromGroup(member) : leaveGroup()">
            X
          </ion-button>
        </ion-item>
      </ion-list>
    </div>

    <div class="edit-fields">
      <span class="input-label">Features</span>
      <ion-list class="feature-list">
        <ion-item *ngFor="let feature of availableFeatures; let i = index">
          <div class="feature-name-container"
               [ngClass]="{'active-feature': isFeatureInDB(feature), 'inactive-feature': !isFeatureInDB(feature)}">
            <span class="feature-name">
              {{ feature }}
            </span>
            <ion-icon
              *ngIf="userUid === founder"
              [src]="isFeatureInDB(feature) ? 'assets/icon/ionicons/md-eye.svg' : 'assets/icon/ionicons/md-eye-off.svg'"
              (click)="toggleFeatureVisibility(feature)"
              class="eye-icon">
            </ion-icon>
          </div>
        </ion-item>
      </ion-list>
    </div>

    <div class="buttonclass">
      <ion-button id="delete-alert" class="delete-button" color="danger" (click)="confirmDelete()">
        Gruppe löschen
      </ion-button>
    </div>

    <div class="button-row">
      <ion-button class="main-button" expand="block" [routerLink]="['/group', groupId]">Abbrechen</ion-button>
      <ion-button class="main-button" expand="block" (click)="saveeditedGroup()">Speichern</ion-button>
    </div>
  </div>
</ion-content>
