.image-upload {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--ion-color-secondary);
  cursor: pointer;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.upload-placeholder {
  font-size: 48px;
  color: var(--ion-color-dark);
  font-weight: bold;
  pointer-events: none; /* Verhindert, dass der Platzhalter das Klick-Event blockiert */
}

.image-wrapper {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.group-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit-icon {
  position: absolute;
  bottom: -8px;
  right: -10px;
  width: 20px;
  height: 20px;
  background: var(--ion-color-secondary);
  border-radius: 50%;
  border: none;
  padding: 10px;
  z-index: 10;
  cursor: pointer;
}

ion-list ion-item::part(native) {
  background: none !important;
  width: 100%;
}

ion-list{
  width: 80%;
  justify-content: center;
}

.member-item {
  margin-bottom: 5px;
  margin-top: 5px;
}


.edit-fields{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.edit-fields .input-label {
  text-align: left;
  margin-bottom: 7px;
  width: 80%;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

.member-list{
  background: var(--ion-color-secondary);
  border-radius: 15px;
  padding: 10px 5px;
  margin-bottom: 20px;
}

ion-icon{
  color: var(--ion-color-dark);

  font-size: 20px;
  margin-right: 10px;
  padding-left: 10px;
  border-left: 1px solid var(--ion-color-dark);
}

.button-row {
  margin-top: 10px;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.button-row ion-button {
  width: 45%;
}

delete-button{
  width: 100%;
}

.buttonclass{
  margin-bottom: 90px;
  margin-top: 30px;
  width: 80%;
}

.buttonclass ion-button{
  width: 100%;
}

.container{
  margin-top: 50px;

}


.feature-list {
  background: var(--ion-color-secondary);
  border-radius: 15px;
  padding: 15px 5px;
  margin-bottom: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.feature-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px;
  margin: 3px 10px;
  border-radius: 10px;
  background: white;
  color: var(--ion-color-dark);
  font-weight: 500;
}

.feature-name-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-radius: 50px;
}

.feature-name{
  margin-left: 10px;
}

.feature-name {
  margin-right: 10px;
  flex: 1;
}

.feature-item ion-icon {
  color: var(--ion-color-dark);
  cursor: pointer;
  font-size: 20px;
}


.active-feature {
  background-color: white;
}

.inactive-feature {
  background-color: var(--ion-color-light);
  color: #727272;
}


@media (prefers-color-scheme: dark) {
  .feature-name{
    color: #000;
  }
}
