.page-container {
  width: 100%;
  max-width: 100%;
  padding: 16px; // Optional für Abstand zum Rand
  box-sizing: border-box;
}

.my-expenses{
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: solid 2px var(--ion-color-dark);
  border-radius: 16px;
  padding-top: 20px;
}

.group-list{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent !important;
}

ion-item{
  width: 100%;
  margin-bottom: 20px;
  display: flex;
}

ion-item div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-groups {
  width: 80%;
  max-width: 100%;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.card-content {
  width: 100%;
  text-align: center;
}

ion-card {
  width: 100%; // Stellt sicher, dass alle Karten gleichmäßig verteilt sind
  max-width: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.pagename {
  margin-left: 10px;
}

.page-container .profile-placeholder {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

.balance-item{
  width: auto !important;
}

.balance-item h2{
  padding: 0 10px !important;
  max-width: 100% !important;
}

.input-label{
  margin-bottom: 5px;
}

.toggle-buttons{
  display: flex;
  justify-content: space-between;
  width: auto;
  border-radius: 50px;
  background-color: var(--ion-color-secondary);
  padding: 10px 15px;
  align-items: center;
}

.toggle-button{
  width: 25px;
  height: 25px;
}

.toggle-button.active {
  font-weight: bold;
  background-color: var(--ion-color-dark);
  color: var(--ion-color-light);
  border-radius: 50px;
  padding: 5px;
}


.divider{
  height: 25px;

}


@media (prefers-color-scheme: dark) {
.balance-item h2{
  color: #2f2f2f !important;
}
}
