<ion-content [fullscreen]="true">
  <div *ngIf="loading" class="loading-overlay">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Loading ...</p>
  </div>
  <div id="container" class="container">
    <img src="'assets/logo/Logo_lang_white.png' : 'assets/logo/LogoWeiss.png" alt="Logo" class="logo" />

    <h3>Registrieren</h3>
    <ion-item class="input-item">
      <ion-input
        type="text"
        placeholder="Benutzername"
        [(ngModel)]="name"
        (ngModelChange)="inputChange()"
      >
      </ion-input>
    </ion-item>
    <ion-item class="input-item">
      <ion-label class="label">Profilfarbe wählen:</ion-label>
      <input type="color" [(ngModel)]="color" class="colorinput" />
    </ion-item>
    <ion-item class="input-item">
      <ion-input
        type="Email"
        placeholder="E-Mail"
        [(ngModel)]="email"
        (ngModelChange)="inputChange()"
      >
      </ion-input>
    </ion-item>
    <ion-item class="input-item">
      <ion-input
        type="password"
        placeholder="Passwort"
        [(ngModel)]="password"
        (keyup.enter)="register()"
        (ngModelChange)="inputChange()"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>

    <ion-button
      class="main-button"
      expand="block"
      (click)="register()"
      [class.error-button]="registerFailed"
    >
      Register
    </ion-button>

    <div class="error-Space">
      <p
        *ngIf="error !== ''"
        class="error"
        [class.error-message]="registerFailed"
      >
        {{error}}
      </p>
    </div>
    <ion-button class="main-button" expand="full" [routerLink]="'/login'"
      >zum Login</ion-button
    >
  </div>
</ion-content>
