<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <div class="left-container" slot="start">
      <ion-icon
        [src]="iosIcons ? 'assets/icon/ionicons/ios-arrow-back.svg' : 'assets/icon/ionicons/md-arrow-back.svg'"
        class="back-button"
        (click)="goBack()"
      ></ion-icon>
    </div>

    <div class="right-container" slot="end">
      <div class="user-info" [routerLink]="'/account-settings'">
        <div class="profile-placeholder"></div>
        <span class="member-name">{{ user }}</span>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-container">
    <h4>{{ groupname }}</h4>
    <h1>wiederkehrende Ausgaben</h1>

    <ion-list class="expense-list">
      <ion-item
        class="info-item"
        *ngFor="let expense of repeatingExpenses"
        (click)="goToExpenseDetails(expense.id)">
        <div class="profile-placeholder"></div>
        <h5>{{ expense.expense }}</h5>
        <div class="expense-item">
          <div class="Ausgabepreis">
            <span class="wiederholung">
              {{ expense.repeat }}
            </span>
            <h5 class="Gesamtpreis">
              {{ expense.totalAmount | currency: 'EUR' }}
            </h5>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <ion-button class="main-button" expand="block" [routerLink]="'/create-expense'">
      Neue Ausgabe hinzufügen +
    </ion-button>
  </div>
</ion-content>
