h4 {
  margin-bottom: 0px;
}

h1 {
  margin-top: 0px;
}

.einzelneAusgabe {
  width: 40%;
}

.expense-list {
  margin-bottom: 85px;
}

.profile-placeholder .username{
  color: var(--ion-color-light);
  font-size: 12px;
  font-weight: 300;
}

.button-container {
  padding-top: 10px;
}
