@use "./theme/variables" as *;

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/*@import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


h1 {
  font-family: var(--ion-font-family);
  font-weight: 700;
  font-size: 40px;
  color: var(--ion-color-dark);
}

h2 {
  font-family: var(--ion-font-family);
  font-weight: 700;
  font-size: 36px;
  color: var(--ion-color-dark);
}

h3,
ion-card-title {
  font-family: var(--ion-font-family);
  font-weight: 700;
  font-size: 32px;
  color: var(--ion-color-dark);
}

h4 {
  font-family: var(--ion-font-family);
  font-weight: 100;
  font-size: 24px;
  color: var(--ion-color-dark);
}

h5 {
  font-family: var(--ion-font-family);
  font-weight: 700;
  font-size: 20px;
  color: var(--ion-color-dark);
}

h6,
ion-card-subtitle {
  font-family: var(--ion-font-family);
  font-weight: 700;
  font-size: 16px;
  color: var(--ion-color-dark);
}

h7 {
  font-family: var(--ion-font-family);
  font-weight: 700;
  font-size: 14px;
  color: var(--ion-color-dark);
}

p,
ion-card-content {
  font-family: var(--ion-font-family);
  font-weight: 100;
  font-size: 12px;
  color: var(--ion-color-dark) !important;
}

ion-header::part(native) {
  --box-shadow: none !important;
}

/*
.header-md{
  //--box-shadow: none !important;
  //--webkit-box-shadow: none !important;
  //border-bottom: solid 1px var(--ion-color-dark);

} */

ion-card {
  font-family: var(--ion-font-family);
  font-weight: 100;
  background: var(--ion-color-secondary);
  border-radius: 15px;
  width: 80%;
  max-width: 400px;
  height: 120px;
  display: flex;
  --box-shadow: none !important;
  box-shadow: none !important;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  margin: 20px;
}

ion-card-subtitle {
  border-radius: 50px;
  padding: 5px 10px;
}

ion-card-subtitle span {
  font-size: 12px;
  font-weight: 100;
}

ion-card-subtitle p{
  margin: 0;
  margin-left: -5px;
}

ion-card-subtitle h6 {
  background: white;
  border-radius: 50px;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 5px;
  margin-left: -5px;
  margin-bottom: 0;
}


.finance-card,
.expense-card {
  width: 60%;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
  justify-content: center;
}

.card-content-finance,
.card-content-expance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-content-finance h2,
.card-content-expance h2 {
  margin: 0px;
}

.card-content-finance p,
.card-content-expance p {
  margin: 0px;
}

.expense-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
}

.info-item h5{
  margin-left: 15px;
}

.Ausgabepreis {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.Gesamtpreis {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.Preis {
  margin-left: auto;
  font-weight: 100;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 50px;
  margin: 0;
}

.detailedprice{
  margin-left: auto;
  font-weight: 700;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 50px;
  margin: 0;
}

.negative {
  background: var(--ion-color-danger);
  color: var(--ion-color-dark);
}

.positive {
  background: var(--ion-color-success);
  color: var(--ion-color-dark);
}

ion-toolbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 56px;
  padding: 0 10px;
  justify-content: space-between;
}

.left-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
}

.right-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

ion-title {
  font-weight: 700;
  color: var(--ion-color-dark);
  flex-grow: 1;
  padding: 0;
}

ion-title .pagename {
  font-weight: 100;
  font-size: 16px;
  color: var(--ion-color-dark);
  border-bottom: solid 1px var(--ion-color-dark);
  margin: 0;
  padding: 0;
}

ion-title .username{
  font-weight: 100;
  font-size: 16px;
  color: var(--ion-color-dark);
  border-bottom: solid 1px var(--ion-color-dark);
  margin: 0;
  padding-right: 50px;
}

ion-button.back-button::part(native) {
  --background: var(--ion-color-primary);
  font-weight: 700;
  font-size: 20px;
  padding: 6px 10px;
  margin-right: 5px;
  text-transform: uppercase;
  border-radius: 50px;
  box-shadow: none !important;
}

.divider {
  width: 2px;
  background-color: var(--ion-color-dark);
  margin-right: 10px;
  margin-left: 10px;
  height: 24px;
}

ion-button.main-button::part(native) {
  --background: var(--ion-color-primary);
  font-weight: 100;
  padding: 12px 24px;
  text-transform: uppercase;
  border-radius: 50px;
  box-shadow: none !important;
}

ion-button.delete-button::part(native) {
  --background: var(--ion-color-danger);
  font-weight: 100;
  padding: 12px 24px;
  text-transform: uppercase;
  border-radius: 50px;
  box-shadow: none !important;
  width: 100% !important;
}

ion-button.edit-button::part(native) {
  --background: var(--ion-color-primary);
  font-weight: 100;
  font-size: 12px;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 50px;
  box-shadow: none !important;
}

ion-button.main-button.error-button::part(native) {
  --background: var(--ion-color-danger);
  --color: white;
}

.error-message {
  font-weight: bold;
}

ion-icon.logout-button::part(native) {
  --background: var(--ion-color-primary);
  font-weight: 100;
  --font-size: 24px;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 50px;
  box-shadow: none !important;
}

ion-item::part(native) {
  font-family: var(--ion-font-family);
  font-weight: 100;
  font-size: 14px;
  background: var(--ion-color-secondary) !important;
  border-radius: 50px;
  --border-style: none !important;
  border: none !important;
}

ion-item .input-label::part(native) {
  font-family: var(--ion-font-family);
  font-weight: 100;
  font-size: 12px;
  background: var(--ion-color-dark);
  color: var(--ion-color-dark);

}

ion-item .Dropdown-label{
  font-family: var(--ion-font-family);
  font-weight: 100;
  font-size: 12px;
  color: var(--ion-color-dark);
}

ion-select {
  position: relative;
  width: 100%;
  text-align: left;
  --padding-end: 40px;
}

ion-select::part(native) {
  background: transparent !important;
}

ion-select::part(icon) {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

ion-select:has(.select-text:not(:empty)) .Dropdown-label {
  display: none;
}

//* Styling für die Optionen im Dropdown-Menü */
ion-item.select-interface-option::part(native) {
  background: transparent !important; /* Hintergrund transparent */
  --ion-background-color: transparent !important; /* Alternative für Hintergrundfarbe */
  border-radius: 0 !important; /* Entfernt abgerundete Ecken */
  color: var(--ion-color-dark); /* Textfarbe */
  font-size: 14px; /* Schriftgröße */
  padding: 10px; /* Polsterung */ 
}

.bilance-list,
.expense-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-item {
  --background: var(--ion-color-primary);
  margin: 5px 0;
  padding: 8px;
  width: 80%;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.info-item::part(native) {
  height: 80px;
  border-radius: 15px;
}

.member-info {
  display: inline-flex;
  align-items: center;
  height: 40px;
  border-radius: 50px;
  gap: 10px;
  background: var(--user-color-background, rgba(252, 238, 238, 0.84));
  border: 2px solid var(--user-color, #1a65eb);
  padding: 5px 10px 5px 5px;
}

.user-info {
  display: inline-flex;
  align-items: center;
  height: 30px;
  border-radius: 50px;
  gap: 10px;
  background: var(--user-color-background, rgba(252, 238, 238, 0.84));
  border: 2px solid var(--user-color, #1a65eb);
  padding: 5px 10px 5px 5px;
}
.user-info .profile-placeholder {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--user-color, #1a65eb);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--ion-color-dark);
  font-size: 18px;
  border: 1px solid var(--user-color);
}

.profile-placeholder {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--user-color, #1a65eb);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--ion-color-dark);
  font-size: 18px;
  border: 2px solid var(--user-color, #1a65eb);
}

.member-name {
  font-size: 16px;
  font-weight: bold;
  color: var(--ion-color-dark);
}

.balance-info {
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 10px 15px;
  font-size: 20px;
  margin-left: auto;
}

.balance-info span {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.container .logo {
  width: 50%;
  margin-bottom: 10%;
  max-width: 100px;
}

.input-item,
.main-button {
  width: 80%;
  max-width: 400px;
  margin-bottom: 10px;
}


.separator {
  border: none;
  height: 1px;
  background-color: var(--ion-color-dark);
  margin-top: 10px;
  margin-bottom: 20px;
  width: 80%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px 15px;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid;
  border-color: var(--ion-color-dark);
}

.menu-text {
  font-size: 12px;
  font-weight: 100;
  cursor: pointer;
  text-align: center;
  flex: 1;
}


.menu-text.active {
  font-weight: 700; /* Aktive Menü-Option (Bilanz) */
}

.divider {
  border-left: 1px solid;
  border-color: var(--ion-color-dark);
  height: 20px;
}

.remember-me{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}

.link-text{
  font-size: 14px;
  font-weight: 100;
  cursor: pointer;
  text-align: center;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--ion-color-secondary);
  font-size: 18px;
  z-index: 100;
}

.space{
  height: 40px;
  background-color: transparent;

}

/* Styling für den Color Picker */
.colorinput {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  display: block;
  top: 0; /* Entfernt mögliche Verschiebungen nach unten */
}

.colorinput::-webkit-color-swatch {
  border-radius: 50%;
}

.ion-valid.sc-ion-input-md-h {
  --highlight-color: balck;
}

.ion-valid.sc-ion-input-ios-h {
  --highlight-color: black;
}

:host .ionicon {
  stroke: black;
}

ion-input:focus ~ .ionicon {
  stroke: black;
}



/* Anpassungen für den Dark Mode */
@media (prefers-color-scheme: dark) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  h7,
  p {
    color: var(--ion-color-light) !important;
  }

  ion-card-content,
  ion-card-title,
  ion-card-subtitle,
  ion-item::part(native),
  ion-item .input-label::part(native) {
    color: var(--ion-color-dark) !important;
  }
}


