<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> IoweU </ion-title>
    <ion-title slot="end">{{ userEmail || 'NA' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">IoweU</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Hier entsteht IoweU</strong>
    <p>Lasst uns starten!</p>
    <ion-button expand="full" [routerLink]="'/login'"> zum Login</ion-button>
  </div>
</ion-content>