.password-change-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  padding: 0 20px; /* Anfangs kein Padding */
}

.password-change-container.open {
  max-height: 300px; /* Stelle sicher, dass genug Platz ist */
  padding: 20px;
}

.input-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-icon {
  margin-left: 10px; /* Abstand zwischen dem Textfeld und dem Icon */
  cursor: pointer;
}

/* Pfeil-Icon in Weiß */
.chevron-icon {
  font-size: 20px;
  color: var(--ion-color-medium);
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.hidden {
  display: none;
}

.profilepic {
  width: 60px;
  height: 60px;
  border: solid;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 5px;
}

