<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="left-container" slot="start">
      <ion-icon
        [src]="iosIcons ? 'assets/icon/ionicons/ios-arrow-back.svg' : 'assets/icon/ionicons/md-arrow-back.svg'"
        class="back-button"
        (click)="goBack()"
      ></ion-icon>
      <div class="divider"></div>
      <div class="pagename">Accountsettings</div>
    </div>

    <div class="right-container" slot="end">
      <div class="user-info">
        <div class="profile-placeholder"></div>
        <span class="member-name">{{ name }}</span>
      </div>
      <ion-icon
        [src]="iosIcons ? 'assets/icon/ionicons/ios-log-out.svg' : 'assets/icon/ionicons/md-log-out.svg'"
        (click)="logout()"
        class="logout-button"
      ></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="container">
    <div class="profilepic">
      <img src="../../../assets/icon/person.svg" />
    </div>

    <h2>Mein Account</h2>

    <ion-item class="input-item">
      <ion-input
        type="text"
        placeholder="{{changeMessage}}"
        [(ngModel)]="newname"
      >
      </ion-input>
      <ion-icon
        *ngIf="userEditing"
        [src]="iosIcons ? 'assets/icon/ionicons/ios-checkmark.svg' : 'assets/icon/ionicons/md-checkmark.svg'"
        (click)="confirm()"
      ></ion-icon>
      <ion-icon
        *ngIf="userEditing"
        [src]="iosIcons ? 'assets/icon/ionicons/ios-close.svg' : 'assets/icon/ionicons/md-close.svg'"
        (click)="cancel()"
      ></ion-icon>
      <ion-icon
        *ngIf="!userEditing"
        [src]="iosIcons ? 'assets/icon/ionicons/ios-brush.svg' : 'assets/icon/ionicons/md-brush.svg'"
        (click)="edit('Schreibe deinen neuen Usernamen')"
      ></ion-icon>
    </ion-item>

    <ion-item class="input-item">
      <ion-input
        type="email"
        [(ngModel)]="email"
        placeholder="E-Mail ändern"
      ></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-label class="label">Profilfarbe:</ion-label>
      <input type="color" [(ngModel)]="color" class="colorinput" />
    </ion-item>

    <ion-button
      class="main-button"
      expand="block"
      [routerLink]="'/reset-password'"
    >
      Passwort ändern
    </ion-button>

    <div class="fixed-bottom">
      <ion-button id="delete-alert" class="delete-button" color="danger">
        Konto löschen
      </ion-button>

      <ion-alert
        trigger="delete-alert"
        header="Einloggen erforderlich"
        message="Bitte logge dich ein, um dein Konto zu löschen."
        [buttons]="loginAlertButtons"
        [inputs]="alertInputs"
      ></ion-alert>


      <ion-button
        id="save-alert"
        class="main-button save-button"
        expand="block"
        [disabled]="!hasChanges() || userEditing"
      >
        Änderungen speichern
      </ion-button>
      <ion-alert
        trigger="save-alert"
        header="Änderungen speichern"
        message="Sie können nur einmal monatlich den Namen, die E-Mail oder andere Einstellungen ändern. Möchten Sie die Änderungen speichern?"
        [buttons]="saveAlertButtons"
        (didDismiss)="setResult($event)"
      ></ion-alert>
    </div>
  </div>
</ion-content>
