<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Account-Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account-Einstellungen</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="container">
    <div class="profilepic">
      <img src="../../../assets/icon/person.svg" />
    </div>

    <h2>Mein Account</h2>

    <ion-item class="input-item">
      <ion-button>Name ändern</ion-button>
    </ion-item>

    <ion-item class="input-item">
      <ion-button>E-Mail ändern</ion-button>
    </ion-item>

    <ion-item class="input-item" (click)="togglePasswordChange()">
      <ion-label>Passwort ändern</ion-label>
      <ion-icon
        slot="end"
        [name]="showPasswordFields ? 'chevron-up' : 'chevron-down'"
        class="chevron-icon"
        [ngClass]="{'rotate': showPasswordFields}"
      ></ion-icon>
    </ion-item>

    <div class="password-change-container" [ngClass]="{'open': showPasswordFields}">
      <ion-item class="input-item">
        <ion-input
          class="password-input"
          type="password"
          placeholder="Altes Passwort"
          [(ngModel)]="oldPassword"
        ></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-input
          class="password-input"
          type="password"
          placeholder="Neues Passwort"
          [(ngModel)]="newPassword"
        ></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-input
          class="password-input"
          type="password"
          placeholder="Passwort wiederholen"
          [(ngModel)]="confirmPassword"
        ></ion-input>
      </ion-item>

      <ion-button class="main-button" expand="block" (click)="changePassword()">
        Bestätigen
      </ion-button>
    </div>
    
    <ion-button id="delete-alert" color="danger">Konto löschen</ion-button>
    <ion-alert
      trigger="delete-alert"
      header="Konto löschen?"
      message="Möchtest du dein Konto wirklich löschen? Diese Aktion kann nicht rückgängig gemacht werden."
      [buttons]="alertButtons"
      (didDismiss)="setResult($event)"
    ></ion-alert>
    
    

    <ion-button class="main-button" expand="block">
      Änderungen speichern
    </ion-button>

   
  
  </div>
</ion-content>
