<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="left-container" slot="start">
      <ion-icon
        [src]="iosIcons ? 'assets/icon/ionicons/ios-arrow-back.svg' : 'assets/icon/ionicons/md-arrow-back.svg'"
        class="back-button"
        (click)="goBack()"
      ></ion-icon>
      <div class="divider"></div>
      <div class="pagename">Accountsettings</div>
    </div>

    <div class="right-container" slot="end">
      <div class="user-info">
        <div class="profile-placeholder"></div>
        <span class="member-name">{{ user }}</span>
      </div>
      <ion-icon
        [src]="iosIcons ? 'assets/icon/ionicons/ios-log-out.svg' : 'assets/icon/ionicons/md-log-out.svg'"
        (click)="logout()"
        class="logout-button"
      ></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="container">
    <div class="profilepic">
      <img src="../../../assets/icon/person.svg" />
    </div>

    <h2>Mein Account</h2>

    <ion-item class="input-item">
      <ion-input type="text" placeholder="{{changeMessage}}" [(ngModel)]="name">
      </ion-input>
      <ion-icon *ngIf="!editing"></ion-icon>
      <ion-icon
        [src]="iosIcons ? 'assets/icon/ionicons/ios-brush.svg' : 'assets/icon/ionicons/md-brush.svg'"
        (click)="change('Schreibe deinen neuen Usernamen')"
      ></ion-icon>
    </ion-item>

    <ion-item class="input-item">
      <ion-input
        type="email"
        [(ngModel)]="email"
        placeholder="E-Mail ändern"
      ></ion-input>
      <ion-icon
        [src]="iosIcons ? 'assets/icon/ionicons/ios-brush.svg' : 'assets/icon/ionicons/md-brush.svg'"
      ></ion-icon>
    </ion-item>

    <ion-item class="input-item">
      <ion-label class="label">Profilfarbe:</ion-label>
      <input type="color" [(ngModel)]="color" class="colorinput" />
    </ion-item>

    <ion-button
      class="main-button"
      expand="block"
      [routerLink]="'/reset-password'"
    >
      Passwort ändern
    </ion-button>

    <ion-button id="delete-alert" class="delete-button" color="danger">Konto löschen</ion-button>
    <ion-alert
      trigger="delete-alert"
      header="Konto löschen?"
      message="Möchtest du dein Konto wirklich löschen? Diese Aktion kann nicht rückgängig gemacht werden."
      [buttons]="alertButtons"
      [inputs]="alertInputs"
      (didDismiss)="setResult($event)"
    ></ion-alert>

    <ion-button class="main-button save-button" expand="block">
      Änderungen speichern
    </ion-button>
  </div>
</ion-content>
