.profilepic {
  width: 60px;
  height: 60px;
  border: solid;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 5px;
}

.fixed-bottom {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 10px; 
}

.fixed-bottom ion-button {
  width: 80%; 
  max-width: 400px;
}
ion-toggle {
  --track-background: #848383;
  --track-background-checked: #dedede;
}

ion-toggle::part(handle) {
  background: #ffffff !important;
}
@media (prefers-color-scheme: dark) {
  .farbenblind-label {
    color: #000;
  }
  ion-toggle {
    --track-background: #989696;
    --track-background-checked: #3a3a3a;
  }

  ion-toggle::part(handle) {
    background: #3a3a3a !important;
  }
}
