<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Account-Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Account-Einstellungen</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="container">
    <h2>Mein Account</h2>

    <!-- Name ändern -->
    <ion-item class="input-item">
      <ion-input
        type="text"
        placeholder="Name ändern"
        [(ngModel)]="name"
      ></ion-input>
    </ion-item>

    <!-- E-Mail ändern -->
    <ion-item class="input-item">
      <ion-input
        type="email"
        placeholder="E-Mail ändern"
        [(ngModel)]="email"
      ></ion-input>
    </ion-item>

    <!-- Passwort ändern (mit Pfeil) -->
    <ion-item class="input-item" (click)="togglePasswordChange()">
      <ion-label>Passwort ändern</ion-label>
      <ion-icon
        slot="end"
        [name]="showPasswordFields ? 'chevron-up' : 'chevron-down'"
        class="chevron-icon"
      ></ion-icon>
    </ion-item>

    <div *ngIf="showPasswordFields" class="password-change-container">
      <ion-item class="input-item">
        <ion-input
          type="password"
          placeholder="Altes Passwort"
          [(ngModel)]="oldPassword"
        ></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-input
          type="password"
          placeholder="Neues Passwort"
          [(ngModel)]="newPassword"
        ></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-input
          type="password"
          placeholder="Passwort wiederholen"
          [(ngModel)]="confirmPassword"
        ></ion-input>
      </ion-item>

      <ion-button class="main-button" expand="block" (click)="changePassword()"
        >Bestätigen</ion-button
      >
    </div>

    <!-- Änderungen speichern -->
    <ion-button class="main-button" expand="block"
      >Änderungen speichern</ion-button
    >
  </div>
</ion-content>
