<ion-content [fullscreen]="true">
  <div *ngIf="loading" class="loading-overlay">
    <img class="loading-gif" [src]="videoSource" alt="Loading animation" />
    <p>Loading ...</p>
  </div>
  <div id="container" class="container">
    <img
      src="'assets/logo/Logo_lang.png' : 'assets/logo/LogoWeiss.png'"
      alt="Logo"
      class="logo"
    />

    <h3>Registrieren</h3>
    <ion-item class="input-item">
      <ion-input
        type="text"
        placeholder="Benutzername"
        [(ngModel)]="name"
        (ngModelChange)="inputChange()"
      >
      </ion-input>
    </ion-item>
    <ion-item class="input-item">
      <ion-label class="label">Profilfarbe wählen:</ion-label>
      <input type="color" [(ngModel)]="color" class="colorinput" />
    </ion-item>

    <ion-button
      class="main-button google"
      expand="block"
      (click)="registerWithGoogle()"
    >
      Mit Google registrieren
    </ion-button>

    <ion-button class="main-button" expand="full" [routerLink]="'/login'"
      >zum Login</ion-button
    >
    <div class="error-Space">
      <p
        *ngIf="error !== ''"
        class="error"
        [class.error-message]="registerFailed"
      >
        {{error}}
      </p>
    </div>
  </div>
</ion-content>
