<ion-content [fullscreen]="true">
  <div *ngIf="loading" class="loading-overlay">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Loading ...</p>
  </div>
  <div id="container" class="container">
    <img
      src="'assets/logo/Logo_lang.png' : 'assets/logo/LogoWeiss.png'"
      alt="Logo"
      class="logo"
    />

    <h3>Login</h3>
    <ion-icon name="apps"></ion-icon>

    <ion-item class="input-item">
      <ion-input
        type="email"
        placeholder="E-Mail"
        [(ngModel)]="email"
        (ngModelChange)="inputChange()"
        autofocus
      ></ion-input>
    </ion-item>

    <ion-item class="input-item">
      <ion-input
        type="password"
        placeholder="Passwort"
        [(ngModel)]="password"
        (ngModelChange)="inputChange()"
        (keyup.enter)="login()"
      >
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-button
      class="main-button"
      expand="block"
      (click)="login()"
      [class.error-button]="loginFailed"
    >
      Anmelden
    </ion-button>

    <ion-button class="main-button" expand="block" [routerLink]="'/register'"
      >Register</ion-button
    >
    <ion-button
      class="main-button google"
      expand="block"
      (click)="googleLogin()"
    >
    <img class="googleLogo" src="../../../assets/icon/Google.png"  />Mit Google Anmelden
    </ion-button>

    <p class="link-text" [routerLink]="'/reset-password'">
      Passwort vergessen?
    </p>

    <div class="error-Space">
      <p *ngIf="error !== ''" class="error" [class.error-message]="loginFailed">
        {{error}}
      </p>
    </div>
  </div>
</ion-content>
