#container {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  gap: 10px;
}

.amount-row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.input-item {
  flex: 1;
  width: 100%;
}

/* Breitenverteilung */
.Beschreibung {
  flex: 8;
}

.Kategorie, .invoice-upload {
  flex: 1;
  color: #000000
}

.betrag {
  flex: 9; /* 90% der Breite */
}

.Währung {
  flex: 1; /* 10% der Breite */
}

.paid-by, .date, .wiederholung {
  flex: 1;
}

.split {
  flex: 1;
}

.member-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.product-input-fields{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  justify-content: center;
}

.native-wrapper sc-ion-input-md sc-ion-input-md-s::part(native) {
  --background-color: var(--ion-color-secondary);
  background-color: var(--ion-color-secondary) !important;
  --border-radius: 50px;
}

.product-input-fields .top-container,
.product-input-fields .bottom-container {
  display: flex;
  flex-direction: row;
}

.product-input-fields ion-item::part(native) {
  font-family: var(--ion-font-family);
  font-weight: 100;
  font-size: 12px;
  background: var(--ion-color-secondary) !important;
  border-radius: 50px;
  --border-style: none !important;
  border: none !important;
}

.product-list {
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 10px;
  background-color: var(--ion-color-secondary);
  border-radius: 10px;
}

.product-list ul {
  list-style: none;
  padding: 0;
}

.product-list li {
  padding-top: 7px;
  padding-bottom: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details {
  width: 100%;
  align-items: center;
}

.product-quantity {
  flex-grow: 0;
  border-right: solid 1px var(--ion-color-dark);
  padding-right: 10px;
  width: 100px;
  text-align: end;
}


.product {
  flex-grow: 1;
  text-align: left;
}

.product-price {
  flex-grow: 0;
  text-align: right;
  margin-right: 10px;
  background-color: white;
  border-radius: 50px;
  padding: 5px 10px;
  font-weight: 200;
}

.delete-icon{
  color: var(--ion-color-dark);
  font-size: 20px;
  padding-right: 10px;
}

.delete-icon:hover{
  color: var(--ion-color-danger);
  font-size: 22px;
  font-weight: 600;
  padding-right: 10px;
}

.toggle-arrow{
  margin-right: 10px;
  margin-left: 10px;
}

.member-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 5%;
}


ion-input,
ion-select {
  width: 100%;
}

.button-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

ion-datetime {
  width: 100%;
}

.input-label {
  display: block; /* Stellt sicher, dass der Text über dem Input-Feld steht */
  font-size: 12px; /* Macht die Schrift kleiner */
  font-weight: normal; /* Kein fetter Text */
  color: #666; /* Dezente Farbe für besseren Kontrast */
  text-align: left; /* Links ausgerichtet */
  margin-bottom: 2px; /* Kleiner Abstand zum Input */
  margin-left: 10px;
}

.member-list-input {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.right-container{
  width: fit-content;
}

.input-field {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  background-color: var(--ion-color-light);
  border-radius: 50px;
  width: fit-content;
}

input {
  width: 100%;
}

.datepicker {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 80%;
  max-width: 500px;
  height: auto;
}

.separator{
  width: 95% !important;
  margin-bottom: 50px !important;
}

.button-row {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

ion-input:focus {
  --caret-color: transparent;
}

ion-input:focus::after {
  --caret-color: transparent;
}

/* Styling für ion-item und ion-input (für normale Eingabefelder) */
ion-item.input-item::part(native),
ion-input::part(native) {
  font-family: var(--ion-font-family);
  font-weight: 100;
  font-size: 14px;
  background: var(--ion-color-secondary) !important;
  border-radius: 50px;
  --border-style: none !important;
  border: none !important;
}
@media (prefers-color-scheme: dark) {
  .input-label {
    color: #989797;

  }
}
.category-icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
}

.custom-dropdown {
  position: absolute;
  z-index: 9999;
  background-color: var(--ion-color-secondary); /* z.B. ein helles Grau oder angepasst an dein Theme */
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.2);
  max-width: 400px;
  top: 100%;
  left: 0;
  padding: 8px 0; /* Etwas Innenabstand */
}

.selected-category {
  display: flex;
  align-items: center;
}
.dropDownFelder{
  color: #000000;
}
.Kategorie{
  position: relative;
}
