<ion-content [fullscreen]="true">
  <div id="container" class="container">
    <h3>Neue Ausgaben</h3>
    <div class="separator"></div>
    <!-- Beschreibung -->
    <div class="section">
      <div class="amount-row">
        <div class="Beschreibung">
          <ion-item class="input-item">
            <ion-input
              type="text"
              placeholder="Beschreibung"
              [(ngModel)]="expense.description"
            ></ion-input>
          </ion-item>
        </div>
        <div class="Kategorie">
          <ion-item class="input-item">
            <ion-select
              type="text"
              [(ngModel)]="expense.category"
            ></ion-select>
          </ion-item>
        </div>
        <div class="invoice-upload">
          <ion-item class="input-item">
            <ion-select
              type="text"
              [(ngModel)]="expense.invoice"
            ></ion-select>
          </ion-item>
        </div>
      </div>
    </div>

    <!-- Betrag und Bezahlt von -->
    <div class="section">
      <div class="amount-row">
        <div class="betrag">
          <ion-item class="input-item">
            <ion-input
              type="number"
              placeholder="0,00"
              [(ngModel)]="expense.amount"
            ></ion-input>
          </ion-item>
        </div>
        <div class="Währung">
          <ion-item class="input-item">
            <ion-select
              type="text"
              [(ngModel)]="expense.currency"
            ></ion-select>
          </ion-item>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="amount-row">
        <div class="paid-by">
          <span class="input-label">bezahlt von</span>
          <ion-item class="input-item">
            <ion-select [(ngModel)]="expense.paidBy" interface="popover">
              <ion-select-option value="mir">mir</ion-select-option>
              <ion-select-option value="Lila">Lila</ion-select-option>
              <ion-select-option value="Grün">Grün</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="date">
          <span class="input-label">Datum</span>
          <ion-item class="input-item">
            <ion-input
              [(ngModel)]="expense.date"
              [readonly]="true"
              [placeholder]="expense.date"
              (click)="openDatePicker()"
            ></ion-input>
          </ion-item>
        </div>

        <div class="wiederholung">
          <span class="input-label">Wiederholung</span>
          <ion-item class="input-item">
            <ion-select [(ngModel)]="expense.repeat" interface="popover">
              <ion-select-option value="nein">nein</ion-select-option>
              <ion-select-option value="täglich">täglich</ion-select-option>
              <ion-select-option value="wöchentlich">wöchentlich</ion-select-option>
              <ion-select-option value="monatlich">monatlich</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </div>

    <!-- Aufteilung -->
    <div class="section">
      <div class="amount-row">
        <div class="split">
          <span class="input-label">Aufteilung</span>
          <ion-item class="input-item">
            <ion-select [(ngModel)]="expense.splitType" interface="popover">
              <ion-select-option value="alle">Anteile</ion-select-option>
              <ion-select-option value="alle">Prozent</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
        <div class="split">
          <span class="input-label">teilen durch</span>
          <ion-item class="input-item">
            <ion-select [(ngModel)]="expense.splitType" interface="popover">
              <ion-select-option value="alle">alle</ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="member-list" *ngFor="let member of groupMembers">
        <div class="member-info">
          <div class="profile-placeholder"></div>
          <span class="member-name">{{ member.name }}</span>
        </div>
        <div class="right-container">
          <div class="input-field">
            <ion-input
              type="number"
              placeholder="1x"
              [(ngModel)]="member.split"
            ></ion-input>
          </div>
          <div class="input-field">
            <ion-input
              type="number"
              placeholder="0,00"
              [(ngModel)]="member.amountperperson"
            ></ion-input>
          </div>
        </div>
      </div>
    </div>


    <!-- Buttons -->
    <div class="button-row">
      <ion-button class="main-button" (click)="cancel()">Abbrechen</ion-button>
      <ion-button class="main-button" (click)="saveExpense()">Speichern</ion-button>
    </div>
  </div>

  <!-- Datepicker Modal -->
  <ion-datetime
    class="datepicker"
    presentation="date"
    [formatOptions]="{
      month: 'short',
      year: 'numeric',
      day: '2-digit'
    }"
    *ngIf="isDatePickerOpen"
    [(ngModel)]="expense.date"
    (ionChange)="onDateChange($event)"
    (ionCancel)="closeDatePicker()">
  </ion-datetime>


</ion-content>
