#container {
  width: 95%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  gap: 10px;
  align-items: center;
}

.amount-row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.input-item {
  flex: 1;
  width: 100%;
}

.Beschreibung {
  flex: 8;
}

.betrag {
  flex: 9;
}

.Währung,
.paid-by,
.date,
.wiederholung,
.split {
  flex: 1;
}

.member-list,
.product-input-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.product-input-fields .top-container,
.product-input-fields .bottom-container {
  display: flex;
  flex-direction: row;
}

.product-list {
  margin: 10px 0 30px;
  padding-left: 10px;
  background-color: var(--ion-color-secondary);
  border-radius: 10px;
}

.product-list ul {
  list-style: none;
  padding: 0;
}

.product-list li {
  padding: 7px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-quantity {
  flex-grow: 0;
  border-right: solid 1px var(--ion-color-dark);
  padding-right: 10px;
  width: 100px;
  text-align: end;
}

.product {
  flex-grow: 1;
  text-align: left;
}

.product-price {
  flex-grow: 0;
  text-align: right;
  margin-right: 10px;
  background-color: white;
  border-radius: 50px;
  padding: 5px 10px;
  font-weight: 200;
}

.delete-icon {
  color: var(--ion-color-dark);
  font-size: 20px;
  padding-right: 10px;
}

.delete-icon:hover {
  color: var(--ion-color-danger);
  font-size: 22px;
  font-weight: 600;
}

.toggle-arrow {
  margin: 0 10px 0 0;
}

.member-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 5%;
}

ion-input,
ion-select {
  width: 100%;
}

.button-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

.datepicker {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 80%;
  max-width: 500px;
}

.separator {
  width: 95% !important;
  margin-bottom: 50px !important;
}

ion-item.input-item::part(native),
ion-input::part(native) {
  font-family: var(--ion-font-family);
  font-weight: 100;
  font-size: 14px;
  background: var(--ion-color-secondary) !important;
  border-radius: 50px;
  border: none !important;
}

.input-label {
  display: block;
  font-size: 12px;
  font-weight: normal;
  color: #666;
  text-align: left;
  margin: 0 0 2px 10px;
}

.member-list-input {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.input-field {
  width: fit-content;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  background-color: var(--ion-color-light);
  border-radius: 50px;
}

.right-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.Kategorie {
  position: relative; /* Container für das absolute Positionieren des Dropdowns */
}
.Kategorie .input-label{
  margin-left: 0;
}

.custom-dropdown {
  position: absolute;
  z-index: 9999;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  top: 100%;
  left: 0;
  //background-color: var(--ion-color-light);
  background-color: #1a65eb;
  margin-top: -20px;
}

.custom-dropdown ion-label{
  margin-left: 15px;
}

.custom-dropdown ion-item {
  border-bottom: 1px solid var(--ion-color-dark);
}

.custom-dropdown ion-item:hover{
  background-color: var(--ion-color-secondary);
}

ion-list::part(native) {
  background: var(--ion-color-secondary) !important;
  padding: 0
;
}

ion-item.dropDownFelder::part(native) {
  --background: var(--ion-color-light);
  --color: var(--ion-color-dark);
  background-color: var(--ion-color-light) !important;
  color: var(--ion-color-dark) !important;
}

.selected-category {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (prefers-color-scheme: dark) {
  .input-label {
    color: #989797;
  }
  ion-item.dropDownFelder::part(native) {
    --background: #000000;
    --color: var(--ion-color-light);
    background-color: #000000 !important;
    color: var(--ion-color-light) !important;
  }
  .custom-dropdown {
    background-color: #000000;
  }
  #category-icon-label{
    color: #000000;
  }
}

.invoice-upload {




  .upload-label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 10px;
  
  }

  .upload-icon {
    font-size: 30px;
    color: var(--ion-color-primary);
  }

}
