<ion-content [fullscreen]="true">
  <div id="container" class="container">
    <h3>Neue Ausgaben</h3>
    <div class="separator"></div>

    <!-- Beschreibung -->
    <div class="section">
      <div class="amount-row">
        <div class="Beschreibung">
          <span class="input-label">Ausgabe</span>
          <ion-item class="input-item">
            <ion-input
              type="text"
              placeholder="Beschreibung"
              [(ngModel)]="expense.description"
            ></ion-input>
          </ion-item>
        </div>

        <div class="Kategorie">
          <span class="input-label">Kategorie</span>
          <ion-item class="input-item" (click)="toggleDropdown()">
            <ion-label>
              <div class="selected-category">
                <ion-icon
                  [name]="selectedCategory?.icon"
                  class="category-icon"
                  id="category-icon-label"
                ></ion-icon>
              </div>
            </ion-label>
          </ion-item>

          <div *ngIf="dropdownOpen" class="custom-dropdown">
            <ion-list>
              <ion-item
                class="dropDownFelder"
                button
                *ngFor="let category of categories"
                (click)="selectCategory(category)"
              >
                <ion-icon
                  [name]="category.icon"
                  class="category-icon"
                ></ion-icon>
                <ion-label>{{ category.name }}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>

        <div class="invoice-upload">
          <span class="input-label">Rechnung</span>
          <ion-item class="input-item">
            <label class="upload-label">
              <ion-icon name="add-outline" class="upload-icon"></ion-icon>
              <input
                type="file"
                accept="image/*"
                (change)="onInvoiceUpload($event)"
                hidden
              />
            </label>
          </ion-item>
        </div>
      </div>
    </div>

    <!-- Betrag und Bezahlt von -->
    <div class="section">
      <div class="amount-row">
        <div class="betrag">
          <span class="input-label">Betrag</span>
          <ion-item class="input-item">
            <ion-input
              type="number"
              placeholder="0,00"
              [(ngModel)]="expense.totalAmount"
              (ionInput)="onTotalAmountChange()"
              step="0.01"
            >
            </ion-input>
          </ion-item>
        </div>
        <div class="Währung">
          <span class="input-label">Währung</span>
          <ion-item class="input-item">
            <ion-select
              [(ngModel)]="selectedCurrency"
              (ionChange)="selectCurrency($event.detail.value)"
              interface="popover"
            >
              <ion-select-option
                *ngFor="let currency of expense.currency"
                [value]="currency"
              >
                {{ currency }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="amount-row">
        <div class="paid-by">
          <span class="input-label">bezahlt von</span>
          <ion-item class="input-item">
            <ion-select [(ngModel)]="expense.paidBy" interface="popover">
              <ion-select-option
                *ngFor="let groupMember of groupMembers"
                [value]="groupMember.uid"
              >
                <div
                  class="member-info"
                  [ngStyle]="{
              'background-color': 'var(--member-color-background-' + groupMember.uid + ')',
              'border-color': 'var(--member-color-' + groupMember.uid + ')'
             }"
                >
                  <div
                    class="profile-placeholder"
                    [ngStyle]="{
              'background-color': 'var(--member-color-' + groupMember.uid + ')',
              'border-color': 'var(--member-color-' + groupMember.uid + ')'
            }"
                  ></div>
                  <span class="member-name">{{ groupMember.username }}</span>
                </div>
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="date">
          <span class="input-label">Datum</span>
          <ion-item class="input-item">
            <ion-input
              [(ngModel)]="expense.date"
              [readonly]="true"
              [placeholder]="expense.date"
              (click)="openDatePicker()"
            ></ion-input>
          </ion-item>
        </div>

        <div class="wiederholung">
          <span class="input-label">Wiederholung</span>
          <ion-item class="input-item">
            <ion-select [(ngModel)]="expense.repeat" interface="popover">
              <ion-select-option class="custom-select-option" value="nein"
                >nein</ion-select-option
              >
              <ion-select-option class="custom-select-option" value="täglich"
                >täglich</ion-select-option
              >
              <ion-select-option
                class="custom-select-option"
                value="wöchentlich"
                >wöchentlich</ion-select-option
              >
              <ion-select-option class="custom-select-option" value="monatlich"
                >monatlich</ion-select-option
              >
            </ion-select>
          </ion-item>
        </div>
      </div>
    </div>

    <!-- Aufteilung -->
    <div class="section">
      <div class="amount-row">
        <div class="split">
          <span class="input-label">Aufteilung</span>
          <ion-item class="input-item">
            <ion-select
              [(ngModel)]="expense.splitType"
              interface="popover"
              (ngModelChange)="onSplitTypeChange()"
              ngDefaultControl="anteile"
            >
              <ion-select-option class="custom-select-option" value="anteile"
                >Anteile</ion-select-option
              >
              <ion-select-option class="custom-select-option" value="prozent"
                >Prozent</ion-select-option
              >
              <ion-select-option class="custom-select-option" value="produkte"
                >nach Produkten</ion-select-option
              >
            </ion-select>
          </ion-item>
        </div>
        <div class="split">
          <span class="input-label">teilen durch</span>
          <ion-item class="input-item">
            <ion-select
              [(ngModel)]="expense.splitBy"
              (ngModelChange)="onSplitByChange()"
              interface="popover"
            >
              <ion-select-option class="custom-select-option" value="alle"
                >alle</ion-select-option
              >
              <ion-select-option class="custom-select-option" value="frei"
                >frei</ion-select-option
              >
            </ion-select>
          </ion-item>
        </div>
      </div>
    </div>

    <!-- Mitglieder -->
    <div class="section" id="member-section">
      <div
        class="member-list"
        *ngFor="let groupMember of groupMembers; let i = index"
      >
        <div class="member-list-input">
          <div
            class="member-info"
            [ngStyle]="{
                'background-color': 'var(--member-color-background-' + groupMember.uid + ')',
                'border-color': 'var(--member-color-' + groupMember.uid + ')'
             }"
          >
            <div
              class="profile-placeholder"
              [ngStyle]="{
              'background-color': 'var(--member-color-' + groupMember.uid + ')',
              'border-color': 'var(--member-color-' + groupMember.uid + ')'
            }"
            ></div>
            <span class="member-name">{{ groupMember.username }}</span>
          </div>
          <div
            *ngIf="expense.splitType === 'produkte'"
            class="toggle-arrow"
            (click)="toggleProducts(groupMember.uid)"
          >
            <ion-icon
              [src]="productInputs[groupMember.uid] ? 'assets/icon/ionicons/ios-arrow-down.svg' : 'assets/icon/ionicons/ios-arrow-up.svg'"
            >
            </ion-icon>
          </div>
          <div class="right-container">
            <!-- <div class="input-field" *ngIf="expense.splitType === 'anteile'">
              <ion-select
                [(ngModel)]="expense.splitType"
                interface="popover"
                (ngModelChange)="onSplitByChange()"
              >
                <ion-select-option
                  class="custom-select-option"
                  value="anteile"
                  [(ngModel)]="splitValue[groupMember.uid]"
                  >1/2x</ion-select-option
                >
                <ion-select-option
                  class="custom-select-option"
                  value="prozent"
                  [(ngModel)]="splitValue[groupMember.uid]"
                  >1/4x</ion-select-option
                >
                <ion-select-option
                  class="custom-select-option"
                  value="produkte"
                  [(ngModel)]="splitValue[groupMember.uid]"
                  >1/8x</ion-select-option
                ></ion-select
              >
            </div>-->

            <div class="input-field" *ngIf="expense.splitType === 'prozent'">
              <ion-input
                type="number"
                placeholder="%"
                [(ngModel)]="splitValue[groupMember.uid]"
                (ionInput)="calculateSplitByPercentage()"
              ></ion-input>
            </div>

            <div class="input-field">
              <ion-input
                type="number"
                placeholder="0,00"
                [(ngModel)]="amountToPay[groupMember.uid]"
                (ionInput)="onAmountToPayChange()"
                [readonly]="expense.splitBy === 'alle'"
                step="0.01"
              ></ion-input>
            </div>
          </div>
        </div>

        <div
          *ngIf="productInputs[groupMember.uid]"
          class="product-input-fields"
        >
          <div
            class="product-list"
            *ngIf="productInputs[groupMember.uid].products.length"
          >
            <ul>
              <li
                *ngFor="let product of productInputs[groupMember.uid].products"
              >
                <div class="left-container">
                  <span class="product-quantity"
                    >{{ product.quantity }} {{ product.unit }}</span
                  >
                  <span class="product">{{ product.productname }}</span>
                </div>
                <ion-badge class="product-price"
                  >{{ product.price | currency: 'EUR' }}</ion-badge
                >
                <ion-icon
                  class="delete-icon"
                  [src]="'assets/icon/ionicons/ios-close.svg'"
                  (click)="removeProduct(product)"
                >
                </ion-icon>
              </li>
            </ul>
          </div>

          <div class="top-container">
            <ion-input
              [(ngModel)]="productInputs[groupMember.uid].input.quantity"
              placeholder="Menge"
              type="number"
            >
            </ion-input>
            <ion-input
              [(ngModel)]="productInputs[groupMember.uid].input.unit"
              placeholder="Einheit"
            >
            </ion-input>
          </div>
          <div class="bottom-container">
            <ion-input
              [(ngModel)]="productInputs[groupMember.uid].input.productname"
              placeholder="Produktname"
            >
            </ion-input>
            <ion-input
              [(ngModel)]="productInputs[groupMember.uid].input.price"
              (ngModelChange)="updateAmountToPayForProducts()"
              placeholder="Preis"
              type="number"
            >
            </ion-input>
          </div>
          <ion-button class="main-button" (click)="addProduct(groupMember.uid)">
            Produkt hinzufügen
          </ion-button>
        </div>
      </div>
    </div>

    <!-- Buttons -->
    <div class="button-row">
      <ion-button class="main-button" (click)="cancel()">Abbrechen</ion-button>
      <ion-button class="main-button" (click)="saveExpense()" [disabled]="false"
        >Speichern</ion-button
      >
    </div>
    <div>{{error}}</div>
  </div>

  <!-- Datepicker Modal -->
  <ion-datetime
    class="datepicker"
    presentation="date"
    [formatOptions]="{
      month: 'short',
      year: 'numeric',
      day: '2-digit'
    }"
    *ngIf="isDatePickerOpen"
    [(ngModel)]="expense.date"
    (ionChange)="onDateChange($event)"
    (ionCancel)="closeDatePicker()"
  >
  </ion-datetime>
</ion-content>
