#container {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  gap: 10px;
  align-items: center;
}

#member-section {
  margin-bottom: 60px;
}

.amount-row {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.input-item {
  flex: 1;
  width: 100%;
}

.Beschreibung {
  flex: 8;
}

.betrag {
  flex: 9;
}

.Währung,
.paid-by,
.date,
.wiederholung,
.split {
  flex: 1;
}

.member-list,
.product-input-fields {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.product-input {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  background-color: var(--ion-color-secondary);
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}

.product-input ion-input[placeholder="Menge"] {
  flex: 0.5;
  margin-right: 5px;
  background-color: white;
  border-radius: 50px;
}

.product-input ion-input[placeholder="Einheit"] {
  flex: 1.5;
  margin-right: 5px;
  background-color: white;
  border-radius: 20px;
}

.product-input ion-input[placeholder="Produktname"] {
  flex: 2.5;
  margin-right: 5px;
  background-color: white;
  border-radius: 50px;
}

.product-input ion-input[placeholder="Preis"] {
  width: auto;
  flex: 1;
  margin-right: 10px;
  background-color: white;
  border-radius: 50px;
}

.product-input .edit-button {
  flex-shrink: 0;
  font-size: 24px;
  color: var(--ion-color-dark);
  background-color: var(--ion-color-primary);
  border-radius: 50%;
  padding: 5px;
}

/* Optional: Adjust spacing for the last input before the icon */
.product-input ion-input:last-of-type {
  margin-right: 10px; /* Ensure spacing before the icon */
}

.product-list {
  margin: 10px 0 10px;
  padding-left: 10px;
  background-color: var(--ion-color-secondary);
  border-radius: 10px;
  width: 100%;
}

.product-list ul {
  list-style: none;
  padding: 0;
}

.product-list li {
  padding: 7px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-quantity {
  flex-grow: 0;
  border-right: solid 1px var(--ion-color-dark);
  padding-right: 10px;
  width: 100px;
  text-align: end;
}

.product {
  flex-grow: 1;
  text-align: left;
}

.product-price {
  flex-grow: 0;
  text-align: right;
  margin-right: 10px;
  background-color: white;
  border-radius: 50px;
  padding: 5px 10px;
  font-weight: 200;
}

.delete-icon {
  color: var(--ion-color-dark);
  font-size: 20px;
  padding-right: 10px;
}

.delete-icon:hover {
  color: var(--ion-color-danger);
  font-size: 22px;
  font-weight: 600;
}

.toggle-arrow {
  margin: 0 10px 0 0;
}

.member-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 5%;
}

ion-input,
ion-select {
  width: 100%;
}

.button-row {
  max-width: 800px;
  width: 100%;
  z-index: 9999;
  justify-content: center;
  gap: 10px;
  position: fixed;
  bottom: 0;
  left: auto;
  right: auto;
  display: flex;
  align-items: center;
  padding: 14px 10px;
  background: rgba(255, 255, 255, 0.6); /* White with 80% opacity */
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
}

.button-row > * {
  flex-grow: 1;
}
@media (prefers-color-scheme: dark) {
  .button-row {
    background: rgba(43, 43, 43, 0.6);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
  }
}

button {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 10px;
}

.datepicker {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 80%;
  max-width: 500px;
}

.separator {
  width: 95% !important;
  margin-bottom: 50px !important;
}

ion-item.input-item::part(native),
ion-input::part(native) {
  font-family: var(--ion-font-family);
  font-weight: 100;
  font-size: 14px;
  background: var(--ion-color-secondary) !important;
  border-radius: 50px;
  border: none !important;
}

.input-label {
  display: block;
  font-size: 12px;
  font-weight: normal;
  color: #666;
  text-align: left;
  margin: 0 0 2px 10px;
}

.member-list-input {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.input-field {
  width: fit-content;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  background-color: var(--ion-color-light);
  border-radius: 50px;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 60%;
}

.Kategorie {
  position: relative;
}
.Kategorie .input-label {
  margin-left: 0;
}

.invoice-upload .input-label {
  margin-left: 0;
}

.custom-dropdown {
  position: absolute;
  z-index: 9999;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  max-width: 400%;
  top: 100%;
  left: 0;
  margin-top: -20px;
  left: -50px;
  padding-top: 15%;
  padding-bottom: 15%;
  border-radius: 10px;
  background-color: #ffffff;
}
ion-item.dropDownFelder::part(native) {
  --background: #ffffff;
  background-color: #ffffff !important;

}
.custom-dropdown ion-label {
  margin-left: 15px;
}

.selected-category {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Währung {
  position: relative;

  .custom-dropdown {
    position: absolute;
    z-index: 9999;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    top: 100%;
    left: -10px;
  }

  .selected-currency {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    justify-content: center;
    color: var(--ion-color-dark);
  }
}
.wiederholung {
  position: relative;

  .custom-dropdown {
    position: absolute;
    z-index: 9999;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    top: 100%;
    left: -10px;
  }
  .selected-repeat {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--ion-color-dark);
  }
}
.paid-by {
  position: relative;

  .custom-dropdown {
    position: absolute;
    z-index: 9999;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    max-width: 200%;
    top: 100%;
    left: 0;
    padding-top: 15%;
    padding-bottom: 15%;
    border-radius: 10px;
    background-color: #ffffff;
  }
  ion-item.dropDownFelder::part(native) {
  
    background-color: #ffffff !important;
    color: var(--ion-color-light) !important;
  }
  .selected-paid-by {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--ion-color-dark);
  }

  .member-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .member-info {
    display: flex;
    align-items: center;
    border: 2px solid var(--member-color, #1a65eb);
    padding: 5px 10px 5px 5px;
    border-radius: 50px;
    gap: 10px;
  }

  .profile-placeholder {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid;
  }

  .member-name {
    font-size: 14px;
    color: var(--ion-color-dark);
  }
}
.split-by {
  position: relative;
  width: 40%;
  .custom-dropdown {
    position: absolute;
    z-index: 9999;

    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    top: 100%;
    left: 0;
  }

  .selected-split-by {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--ion-color-dark);
  }
}
.split-type {
  position: relative;
  width: 60%;
  .custom-dropdown {
    position: absolute;
    z-index: 9999;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    top: 100%;
    left: 0;
  }

  .selected-split-type {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: var(--ion-color-dark);
  }
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

ion-input {
  flex: 1;
  padding-right: 20px;
}

#input-totalAmount .percent-symbol{
  right: 10px !important;
}

.percent-symbol {
  position: absolute;
  right: 20px;
  font-size: 16px;
  color: #666;
}
.overlay-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: saturate(180%) blur(20px);
  --webkit-backdrop-filter: saturate(180%) blur(20px);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.validation-overlay {
  background: #fff0f0;
  color: #d32f2f;
  padding: 20px;
  border-radius: 16px;
  width: 90%;
  max-width: 420px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  animation: popIn 0.3s ease;
  border-left: 6px solid #d32f2f;
}

.validation-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.warning-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
  color: #d32f2f;
}


.validation-content p {
  font-size: 1.1rem;
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
}

.validation-content ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  text-align: left;
  width: 100%;
}

.validation-content li {
  margin-bottom: 6px;
  position: relative;
  text-align: center;
}


@keyframes popIn {
  from {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}


/* Fehlerbereich mit Text */
.split-percentage {
  font-size: 14px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
}

/* Fehlertext */
.split-percentage p {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

/* Button zum Rest aufteilen */
.split-percentage ion-button {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  text-transform: uppercase;
  margin-top: 12px;
}

/* Wenn der Fehlertext nicht vorhanden ist, kein Abstand */
.split-percentage + .validation-content {
  margin-top: 0;
}



@media (prefers-color-scheme: dark) {
  .input-label {
    color: #989797;
  }
  ion-item.dropDownFelder::part(native) {
  
    background-color: #121212 !important;
    color: var(--ion-color-light) !important;
  }
  .custom-dropdown {
    background-color: #121212;
  }
  #category-icon-label {
    color: #000000;
  
  }
  .paid-by .custom-dropdown { 
    background-color: #121212; 
  }
  .paid-by ion-item.dropDownFelder::part(native) {
    background-color: #121212 !important;
  
}

}