<ion-content [fullscreen]="true">
  <div id="container" class="container">
    <h3>Neue Ausgaben</h3>
    <div class="separator"></div>

    <!-- Beschreibung -->
    <div class="section">
      <div class="amount-row">
        <div class="Beschreibung">
          <span class="input-label">Ausgabe</span>
          <ion-item class="input-item">
            <ion-input
              type="text"
              placeholder="Beschreibung"
              maxlength="30"
              [(ngModel)]="expense.description"
            ></ion-input>
            <ion-note slot="end"
              >{{ expense.description.length || 0 }}/30</ion-note
            >
          </ion-item>
        </div>

        <div class="Kategorie" (click)="onCategoryDropdownClick($event)">
          <span class="input-label">Kategorie</span>
          <ion-item class="input-item">
            <ion-label>
              <div class="selected-category">
                <ion-icon
                  [name]="selectedCategory?.icon"
                  class="category-icon"
                  id="category-icon-label"
                ></ion-icon>
              </div>
            </ion-label>
          </ion-item>

          <div *ngIf="dropdownOpen" class="custom-dropdown">
            <ion-list>
              <ion-item
                class="dropDownFelder"
                button
                *ngFor="let category of categories"
                (click)="selectCategory(category, $event)"
              >
                <ion-icon
                  [name]="category.icon"
                  class="category-icon"
                ></ion-icon>
                <ion-label>{{ category.name }}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </div>

        <div class="invoice-upload">
          <span class="input-label">Rechnung</span>
          <ion-item class="input-item">
            <label class="upload-label">
              <ion-icon name="add-outline" class="upload-icon"></ion-icon>
              <input
                type="file"
                accept="image/*"
                (change)="onInvoiceUpload($event)"
                hidden
              />
            </label>
          </ion-item>
        </div>
      </div>
    </div>

    <!-- Betrag -->
    <div class="section">
      <div class="amount-row">
        <div class="betrag">
          <span class="input-label">Betrag</span>
          <ion-item class="input-item">
            <div class="input-wrapper" id="input-totalAmount">
              <ion-input
                type="number"
                placeholder="0,00"
                [(ngModel)]="expense.totalAmount"
                [value]="expense.totalAmount === 0 ? '' : expense.totalAmount"
                (ionInput)="onTotalAmountChange()"
                step="0.01"
              >
              </ion-input>
              <span class="percent-symbol">€</span>
            </div>
          </ion-item>
        </div>
        <div class="Währung">
          <span class="input-label">Währung</span>
          <ion-item class="input-item">
            <ion-select
              [(ngModel)]="selectedCurrency"
              (ionChange)="selectCurrency($event.detail.value)"
              interface="popover"
            >
              <ion-select-option
                *ngFor="let currency of expense.currency"
                [value]="currency"
              >
                {{ currency }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </div>
    <!-- bezahlt -->
    <div class="section">
      <div class="amount-row">
        <div class="paid-by">
          <span class="input-label">bezahlt von</span>
          <ion-item class="input-item" (click)="togglePaidByDropdown($event)">
            <ion-label>
              <div class="selected-paid-by">
                <span class="paid-by-label">
                  {{ selectedMember?.username || 'bezahlt von' }}
                </span>
              </div>
            </ion-label>
          </ion-item>

          <div *ngIf="paidByDropdownOpen" class="custom-dropdown">
            <ion-list>
              <ion-item
                class="dropDownFelder"
                button
                *ngFor="let groupMember of groupMembers"
                (click)="selectMember(groupMember, $event)"
              >
                <div
                  class="member-info"
                  [ngStyle]="{
                    'background-color': 'var(--member-color-background-' + groupMember.uid + ')',
                    'border-color': 'var(--member-color-' + groupMember.uid + ')'
                  }"
                >
                  <div
                    class="profile-placeholder"
                    [ngStyle]="{
                      'background-color': 'var(--member-color-' + groupMember.uid + ')',
                      'border-color': 'var(--member-color-' + groupMember.uid + ')'
                    }"
                  ></div>
                  <span class="member-name">{{ groupMember.username }}</span>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>

        <div class="date">
          <span class="input-label">Datum</span>
          <ion-item class="input-item">
            <ion-input
              [(ngModel)]="expense.date"
              [readonly]="true"
              [placeholder]="expense.date"
              (click)="openDatePicker()"
            ></ion-input>
          </ion-item>
        </div>

        <div class="wiederholung">
          <span class="input-label">Wiederholung</span>
          <ion-item class="input-item">
            <ion-select [(ngModel)]="expense.repeat" interface="popover">
              <ion-select-option class="custom-select-option" value="nein"
                >nein</ion-select-option
              >
              <ion-select-option class="custom-select-option" value="täglich"
                >täglich</ion-select-option
              >
              <ion-select-option
                class="custom-select-option"
                value="wöchentlich"
                >wöchentlich</ion-select-option
              >
              <ion-select-option class="custom-select-option" value="monatlich"
                >monatlich</ion-select-option
              >
            </ion-select>
          </ion-item>
        </div>
      </div>
    </div>

    <!-- Aufteilung -->
    <div class="section">
      <div class="amount-row">
        <div class="split">
          <span class="input-label">Aufteilung</span>
          <ion-item class="input-item">
            <ion-select
              [(ngModel)]="expense.splitType"
              interface="popover"
              (ngModelChange)="onSplitTypeChange()"
              ngDefaultControl="anteile"
            >
              <ion-select-option class="custom-select-option" value="anteile"
                >Anteile</ion-select-option
              >
              <ion-select-option class="custom-select-option" value="prozent"
                >Prozent</ion-select-option
              >
              <ion-select-option class="custom-select-option" value="produkte"
                >nach Produkten</ion-select-option
              >
            </ion-select>
          </ion-item>
        </div>
        <div class="split">
          <span class="input-label">teilen durch</span>
          <ion-item class="input-item">
            <ion-select
              [(ngModel)]="expense.splitBy"
              (ngModelChange)="onSplitByChange()"
              interface="popover"
              [disabled]="!chooseSplitType"
            >
              <ion-select-option
                class="custom-select-option"
                value="alle"
                [disabled]="!chooseSplitType"
                >alle</ion-select-option
              >
              <ion-select-option
                (ngModelChange)="onSplitByChange()"
                class="custom-select-option"
                value="frei"
                >frei</ion-select-option
              >
            </ion-select>
          </ion-item>
        </div>
      </div>
    </div>

    <!-- Mitglieder -->
    <div class="section" id="member-section">
      <div
        class="member-list"
        *ngFor="let groupMember of groupMembers; let i = index"
      >
        <div class="member-list-input">
          <div
            class="member-info"
            [ngStyle]="{
                'background-color': 'var(--member-color-background-' + groupMember.uid + ')',
                'border-color': 'var(--member-color-' + groupMember.uid + ')'
             }"
          >
            <div
              class="profile-placeholder"
              [ngStyle]="{
              'background-color': 'var(--member-color-' + groupMember.uid + ')',
              'border-color': 'var(--member-color-' + groupMember.uid + ')'
            }"
            ></div>
            <span class="member-name">{{ groupMember.username }}</span>
          </div>
          <div
            *ngIf="expense.splitType === 'produkte'"
            class="toggle-arrow"
            (click)="toggleProducts(groupMember.uid)"
          >
            <ion-icon
              [src]="showProductInputFields[groupMember.uid] ? 'assets/icon/ionicons/ios-arrow-down.svg' : 'assets/icon/ionicons/ios-arrow-up.svg'"
            >
            </ion-icon>
          </div>
          <div class="right-container">
            <div class="input-field" *ngIf="expense.splitType === 'prozent'">
              <!-- Prozentfeld -->
              <div class="input-wrapper">
                <ion-input
                  type="number"
                  placeholder="0"
                  [(ngModel)]="splitValue[groupMember.uid]"
                  (ionInput)="calculateSplitByPercentage(groupMember.uid, 'percentage')"
                ></ion-input>
                <span class="percent-symbol">%</span>
              </div>
            </div>

            <div class="input-field">
              <!-- Betragsfeld -->
              <div
                class="input-wrapper"
                *ngIf="expense.splitType === 'prozent'"
              >
                <ion-input
                  type="number"
                  placeholder="0,00"
                  [(ngModel)]="amountToPay[groupMember.uid]"
                  *ngIf="expense.splitType === 'prozent'"
                  [value]="amountToPay[groupMember.uid] === 0 ? '' : amountToPay[groupMember.uid]"
                  (ionInput)="calculateSplitByPercentage(groupMember.uid, 'amount')"
                  step="0.01"
                ></ion-input>
                <span class="percent-symbol">€</span>
              </div>
              <div
                class="input-wrapper"
                *ngIf="expense.splitType === 'anteile' || expense.splitType === 'produkte'"
              >
                <ion-input
                  type="number"
                  placeholder="0,00"
                  *ngIf="expense.splitType === 'anteile' || expense.splitType === 'produkte'"
                  [(ngModel)]="amountToPay[groupMember.uid]"
                  [value]="amountToPay[groupMember.uid] === 0 ? '' : amountToPay[groupMember.uid]"
                  (ionInput)="onAmountToPayChange()"
                  step="0.01"
                ></ion-input>
                <span class="percent-symbol">€</span>
              </div>
            </div>
          </div>
        </div>

        <div
          *ngIf="showProductInputFields[groupMember.uid]"
          class="product-input-fields"
        >
          <!-- Produktliste und Eingabefelder -->
          <div
            class="product-list"
            *ngIf="productInputs[groupMember.uid].products.length"
          >
            <ul>
              <li
                *ngFor="let product of productInputs[groupMember.uid].products"
              >
                <div class="left-container">
                  <span class="product-quantity"
                    >{{ product.quantity }} {{ product.unit }}</span
                  >
                  <span class="product">{{ product.productname }}</span>
                </div>
                <ion-badge class="product-price"
                  >{{ product.price | currency: 'EUR' }}</ion-badge
                >
                <ion-icon
                  class="delete-icon"
                  [src]="'assets/icon/ionicons/ios-close.svg'"
                  (click)="removeProduct(product)"
                ></ion-icon>
              </li>
            </ul>
          </div>
          <div class="product-input">
            <ion-input
              [(ngModel)]="productInputs[groupMember.uid].input.quantity"
              placeholder="Menge"
              type="number"
            ></ion-input>
            <ion-input
              [(ngModel)]="productInputs[groupMember.uid].input.unit"
              placeholder="Einheit"
            ></ion-input>
            <ion-input
              [(ngModel)]="productInputs[groupMember.uid].input.productname"
              placeholder="Produktname"
            ></ion-input>
            <ion-input
              [(ngModel)]="productInputs[groupMember.uid].input.price"
              (ngModelChange)="updateAmountToPayForProducts()"
              placeholder="Preis"
              type="number"
            ></ion-input>
            <ion-icon
              class="edit-button"
              (click)="addProduct(groupMember.uid)"
              [src]="'assets/icon/ionicons/ios-add.svg'"
            ></ion-icon>
          </div>
        </div>
      </div>
      <ion-text color="danger" *ngIf="error" class="split-percentage">
        <p>{{ error }}</p>
        <ion-button
          class="main-button"
          *ngIf="canDistributeRest"
          (click)="distributeRemainingPercentage()">
          Rest aufteilen
        </ion-button>
      </ion-text>

    </div>

    <!-- Buttons -->
    <div class="button-row">
      <ion-button class="main-button" (click)="cancel()">Abbrechen</ion-button>
      <ion-button
        class="main-button"
        (click)="saveExpense()"
        [disabled]="!isFormValid"
        >Speichern</ion-button
      >
    </div>
  </div>

  <!-- Fehleranzeige -->
  <div *ngIf="showValidationError" class="overlay-backdrop" (click)="closeValidationOverlay()">
    <div class="validation-overlay" (click)="$event.stopPropagation()">
      <div class="validation-content">
        <ion-icon [src]="iosIcons ? 'assets/icon/ionicons/ios-alert.svg' : 'assets/icon/ionicons/md-alert.svg'" class="warning-icon" ></ion-icon>
        <p><strong>Bitte behebe folgende Fehler:</strong></p>
        <ul>
          <li *ngFor="let error of validationErrors">{{ error }}</li>
        </ul>
        <ion-button expand="block" color="danger" class="edit-button" (click)="closeValidationOverlay()">OK</ion-button>
      </div>
    </div>
  </div>




  <!-- Datepicker Modal -->
  <ion-datetime
    class="datepicker"
    presentation="date"
    [formatOptions]="{
      month: 'short',
      year: 'numeric',
      day: '2-digit'
    }"
    *ngIf="isDatePickerOpen"
    [(ngModel)]="expense.date"
    (ionChange)="onDateChange($event)"
    (ionCancel)="closeDatePicker()"
  >
  </ion-datetime>
</ion-content>
