<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <div class="left-container" slot="start">
      <ion-icon
        [src]="iosIcons ? 'assets/icon/ionicons/ios-arrow-back.svg' : 'assets/icon/ionicons/md-arrow-back.svg'"
        class="back-button"
        (click)="goBack()"
      ></ion-icon>
    </div>

    <div class="right-container" slot="end">
      <ion-icon
        class="edit-button"
        (click)="toggleInvoiceOverlay()"
        [src]="iosIcons ? 'assets/icon/ionicons/ios-paper.svg' : 'assets/icon/ionicons/md-paper.svg'"
      ></ion-icon>
      <ion-icon
        class="edit-button"
        [src]="iosIcons ? 'assets/icon/ionicons/ios-create.svg' : 'assets/icon/ionicons/md-create.svg'"
        (click)="editExpense()"
      ></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div
    class="invoice-overlay"
    [ngClass]="{
      'hidden': overlayState === 'hidden',
      'normal': overlayState === 'normal',
      'start': overlayState === 'start',
      'slideUp': overlayState === 'normal',
      'slideDown': overlayState === 'hidden'
    }"
    (click)="toggleInvoiceOverlay()">
    <div class="invoice-wrapper" (click)="$event.stopPropagation()">
      <span>Rechnung zur Ausgabe:</span>
      <h5>{{ expense[0].description }}</h5>

      <ng-container *ngIf="expense[0]?.invoice; else noInvoice">
        <img
          [src]="expense[0].invoice"
          alt="Rechnung"
          class="invoice-image"
        />
      </ng-container>

      <ng-template #noInvoice>
        <p>Keine Rechnung vorhanden.</p>
        <ion-button class="main-button" expand="block" (click)="editExpense()">
          Rechnung hinzufügen
        </ion-button>
      </ng-template>

    </div>
  </div>

  <div class="page-container" *ngIf="expense">

    <div class="payed-by">
      <span class="payed-by-lbl">bezahlt von</span>
      <div
        class="member-info"
        [ngStyle]="{
                'background-color': 'var(--member-color-background-' + expense[0].paidBy + ')',
                'border-color': 'var(--member-color-' + expense[0].paidBy + ')'
             }"
      >
        <div
          class="profile-placeholder"
          [ngStyle]="{
              'background-color': 'var(--member-color-' + expense[0].paidBy + ')',
              'border-color': 'var(--member-color-' + expense[0].paidBy + ')'
            }"
        ></div>
        <span class="member-name">{{ expensePaidByUsername }}</span>
      </div>
    </div>

    <h2>{{ expense[0].description }}</h2>
    <ion-badge class="detailedprice">
      {{ expense[0].totalAmount | currency: 'EUR' }}
    </ion-badge>

    <div class="separator"></div>

    <ng-container
      *ngIf="expense?.length && expense[0].expenseMember?.length && groupMembers?.length"
    >
      <div
        class="detailedprice-overview"
        *ngFor="let groupMember of groupMembers"
      >
        <div class="detailedprice-list">
          <div class="left-container">
            <div
              class="member-info"
              [ngStyle]="{
            'background-color': 'var(--member-color-background-' + groupMember.uid + ')',
            'border-color': 'var(--member-color-' + groupMember.uid + ')'
          }"
            >
              <div
                class="profile-placeholder"
                [ngStyle]="{
              'background-color': 'var(--member-color-' + groupMember.uid + ')',
              'border-color': 'var(--member-color-' + groupMember.uid + ')'
            }"
              ></div>
              <span class="member-name">{{ groupMember.username }}</span>
            </div>
            <div
              class="toggle-arrow"
              *ngIf="hasProducts(groupMember.uid)"
              (click)="toggleProducts(groupMember.uid)"
            >
              <ion-icon
                [src]="isProductsVisibleForMember(groupMember.uid)
                ? 'assets/icon/ionicons/ios-arrow-down.svg'
                : 'assets/icon/ionicons/ios-arrow-up.svg'"
              >
              </ion-icon>
            </div>
          </div>
          <ion-badge class="Preis" [ngClass]="getAmountClass(expense[0], groupMember.uid)">
            {{ getAmountToPayForMember(expense[0], groupMember.uid) | currency:
            'EUR' }}
          </ion-badge>
        </div>

        <!-- Produktliste, die bei Klick angezeigt wird -->
        <div
          *ngIf="isProductsVisibleForMember(groupMember.uid)"
          class="product-list"
        >
          <ul>
            <li
              class="products"
              *ngFor="let product of getPurchasedProductsForMember(groupMember.uid)"
            >
              <div class="left-container">
                <span class="product-quantity"
                  >{{ product.quantity }} {{ product.unit }}</span
                >
                <span class="product">{{ product.productname }}</span>
              </div>
              <ion-badge class="product-price">
                {{ product.price | currency: 'EUR' }}
              </ion-badge>
            </li>
          </ul>
        </div>
      </div>
    </ng-container>

    <div class="space"></div>
    <div class="button-container">
      <ion-button
        class="main-button"
        expand="block"
        (click)="payExpense()">
        Schulden begleichen
      </ion-button>
    </div>
  </div>
</ion-content>
