.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.input-row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-item {
  flex: 1;
}

.members-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.expense-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.upload-placeholder {
  font-size: 50px;
  color: #ccc;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

ion-button {
  width: 48%;
}

ion-label {
  font-weight: bold;
}
