<ion-content [fullscreen]="true">

  <div id="container" class="container">
    <img src="assets/logo/Logo_lang.png" alt="Logo" class="logo" />

    <h3>Ausgabe erstellen</h3>

    <!-- Beschreibung, Kategorie, Foto -->
    <div class="input-row">
      <ion-item class="input-item">
        <ion-input
          type="text"
          placeholder="Beschreibung"
          [(ngModel)]="expense.description"
        ></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Kategorie</ion-label>
        <ion-select [(ngModel)]="expense.category">
          <ion-select-option value="Essen">Essen</ion-select-option>
          <ion-select-option value="Transport">Transport</ion-select-option>
          <ion-select-option value="Sonstiges">Sonstiges</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Foto hinzufügen</ion-label>
        <ion-button (click)="selectImage()">Foto auswählen</ion-button>
        <input type="file" hidden #fileInput (change)="onFileSelected($event)" />
        <ng-container *ngIf="expense.image; else placeholder">
          <img [src]="expense.image" alt="Foto" class="expense-image" />
        </ng-container>
        <ng-template #placeholder>
          <div class="upload-placeholder">+</div>
        </ng-template>
      </ion-item>
    </div>

    <!-- Betrag, Währung -->
    <div class="input-row">
      <ion-item class="input-item">
        <ion-input
          type="number"
          placeholder="Betrag"
          [(ngModel)]="expense.amount"
        ></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Währung</ion-label>
        <ion-select [(ngModel)]="expense.currency">
          <ion-select-option value="EUR">EUR</ion-select-option>
          <ion-select-option value="USD">USD</ion-select-option>
          <ion-select-option value="GBP">GBP</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- Bezahlt von, Datum, Wiederholen -->
    <div class="input-row">
      <ion-item class="input-item">
        <ion-label position="floating">Bezahlt von</ion-label>
        <ion-select [(ngModel)]="expense.paidBy">
          <ion-select-option value="Person1">Person1</ion-select-option>
          <ion-select-option value="Person2">Person2</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Datum</ion-label>
        <ion-datetime [(ngModel)]="expense.date" displayFormat="DD/MM/YYYY"></ion-datetime>
      </ion-item>

      <ion-item class="input-item">
        <ion-label>Wiederholen</ion-label>
        <ion-toggle [(ngModel)]="expense.repeated"></ion-toggle>
      </ion-item>
    </div>

    <!-- Preisaufteilung, Anzahl Personen -->
    <div class="input-row">
      <ion-item class="input-item">
        <ion-label position="floating">Preisaufteilung</ion-label>
        <ion-select [(ngModel)]="expense.splitType">
          <ion-select-option value="prozentual">Prozentual</ion-select-option>
          <ion-select-option value="anteilig">Anteilig</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item class="input-item">
        <ion-label position="floating">Anzahl Personen</ion-label>
        <ion-input [(ngModel)]="expense.personCount" type="number" placeholder="z.B. 4"></ion-input>
      </ion-item>
    </div>

    <!-- Mitglieder und Anteile -->
    <div class="members-section">
      <ion-item *ngFor="let member of members; let i = index">
        <ion-label>{{ member }}</ion-label>
        <ion-input [(ngModel)]="expense.shares[i]" type="number" placeholder="Anteil"></ion-input>
        <ion-label>{{ calculateShare(i) | currency: expense.currency }}</ion-label>
      </ion-item>
    </div>

    <!-- Speichern und Abbrechen -->
    <div class="button-container">
      <ion-button (click)="saveExpense()">Speichern</ion-button>
      <ion-button color="medium" (click)="cancel()">Abbrechen</ion-button>
    </div>
  </div>
</ion-content>
