h4 {
  margin-bottom: 0px;
}

h1 {
  margin-top: 0px;
}

h5{
  font-size: 16px;
}

.einzelneAusgabe {
  width: 40%;
}

.expense-list {
  margin-bottom: 85px;
}

.date {
  margin-top: 20px;
}
.button-container {
 padding-top: 10px;
}
@media (prefers-color-scheme: dark) {
  .date {
    color: var(--ion-color-light);
  }
}

.profile-placeholder .username{
  color: var(--ion-color-light);
  font-size: 12px;
  font-weight: 300;
}
