h4 {
  margin-bottom: 0px;
}

h1 {
  margin-top: 0px;
}

h5{
  font-size: 16px;
}

.einzelneAusgabe {
  width: 40%;
}

.expense-list {
  margin-bottom: 85px;
}

.date {
  margin-top: 20px;
}
.button-container {
 padding-top: 10px;
}


.profile-placeholder .username{
  color: var(--ion-color-light);
  font-size: 12px;
  font-weight: 300;
}

.filter{
  display: flex;
  flex-direction: row;
  width: 80%;
  background-color: white;
  border: var(--ion-color-secondary) solid 3px;
  border-radius: 50px;
  align-items: center;
}

ion-searchbar {
  --box-shadow: none;
  display: flex;
  border-radius: 50px;
  --background-color: white;
  flex: 8;
}

ion-searchbar::part(native) {
  background-color: var(--ion-color-secondary);
  border-radius: 50px;
  text-align: left;
}

.Kategorie {
  flex: 2;
  align-items: center;
  display: flex;
}

.Kategorie ion-item{
  margin-bottom: 0 !important;
}

.custom-dropdown {
  position: absolute;
  z-index: 9999;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  max-width: 400%;
  left: 50%;
  margin-top: -20px;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffffff;
}

ion-item.dropDownFelder::part(native) {
  --background: #ffffff;
  background-color: #ffffff !important;

}

.selected-category ion-item::part(native) {
  width: 50px !important;
  margin-right: 10px !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}

.custom-dropdown ion-label {
  margin-left: 15px;
}

.filter .divider{
  background-color: var(--ion-color-secondary) !important;
  height: 45px !important;
  margin-top: 5px !important;
}
.custom-search{
  background-color: #fff !important;
}
#category-icon {
 
  font-size: 18px;

}

@media (prefers-color-scheme: dark) {
  .date {
    color: var(--ion-color-light);
  }
  .input-label {
    color: #989797;
  }
  ion-item.dropDownFelder::part(native) {
  
    background-color: #121212 !important;
    color: var(--ion-color-light) !important;
  }
  .custom-dropdown {
    background-color: #121212;
  }
  #category-icon-label {
    color: #000000;
    font-size: 24px;
  }
  .paid-by .custom-dropdown { 
    background-color: #121212; 
  }
  .paid-by ion-item.dropDownFelder::part(native) {
    background-color: #121212 !important;
  
}

.datepicker{
  background-color: #000;
}
.custom-search{
  color: #121212 !important;
  
}
#category-icon {
  color: #000000;
  font-size: 18px;

}

}