<ion-header [translucent]="true" class="header">
  <div class="backdrop-wrapper">
    <ion-toolbar>
      <div class="left-container" slot="start">
        <ion-icon
          [src]="iosIcons ? 'assets/icon/ionicons/ios-arrow-back.svg' : 'assets/icon/ionicons/md-arrow-back.svg'"
          class="back-button"
          (click)="goBack()"
        ></ion-icon>
      </div>

      <div class="right-container" slot="end">
        <div class="user-info" [routerLink]="'/account-settings'">
          <div class="profile-placeholder"></div>
          <span class="member-name">{{ user }}</span>
        </div>
        <ion-icon
          class="edit-button"
          [src]="'assets/icon/ionicons/calendar-outline.svg'"
          [routerLink]="['/repeating-expenses', groupId]"
        ></ion-icon>
      </div>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      refreshingSpinner="crescent"
      pullingText="Zum Aktualisieren nach unten ziehen"
      refreshingText="Aktualisiere...">
    </ion-refresher-content>
  </ion-refresher>
  <div class="page-container">
    <h4>{{ groupname }}</h4>
    <h1>Ausgaben</h1>

    <ion-card class="expense-card">
      <div class="card-content-expance">
        <h2>{{ animatedSumExpenses | currency: 'EUR' }}</h2>
        <p>Gesamtausgaben</p>
      </div>
    </ion-card>

    <!-- Such- und Filterfelder -->
    <div class="filter">
      <ion-searchbar
        [(ngModel)]="searchTerm"
        (ionInput)="filterExpenses()"
        debounce="500"
        placeholder="Suche"
        class="custom-search"
      ></ion-searchbar>

      <div class="divider" slot="end"></div>
      <div
        class="Kategorie"
        (click)="onCategoryDropdownClick($event)"
        slot="end"
      >
        <div class="selected-category">
          <ion-icon
            *ngIf="selectedCategories.length > 0"
            [name]="getCategoryIcon(selectedCategories[0])"
            class="category-icon"
          ></ion-icon>
          <ion-icon
            class="category-icon"
            *ngIf="selectedCategories.length === 0"
            [src]="'assets/icon/ionicons/filter.svg'"
          >
          </ion-icon>
        </div>

        <div *ngIf="dropdownOpen" class="custom-dropdown">
          <ion-list>
            <ion-item
              class="dropDownFelder"
              button
              [ngClass]="{ 'selected': selectedCategories.length === 0 }"
              (click)="clearCategoryFilter($event)"
            >
              <ion-icon name="layers-outline" class="category-icon"></ion-icon>
              <ion-label>Alle</ion-label>
            </ion-item>
            <ion-item
              class="dropDownFelder"
              button
              *ngFor="let category of categories"
              [ngClass]="{ 'selected': selectedCategories.includes(category.name) }"
              (click)="selectCategories(category, $event)"
            >
              <ion-icon [name]="category.icon" class="category-icon"></ion-icon>
              <ion-label>{{ category.name }}</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>

    <ion-list class="expense-list">
      <ng-container *ngFor="let group of visibleGroupedExpenses">
        <span class="date"> {{ group.date | date: 'dd.MM.yyyy' }} </span>

        <ion-item
          class="info-item"
          *ngFor="let expense of group.expenses"
          (click)="goToExpenseDetails(expense.expenseId)"
        >
          <div
            class="profile-placeholder"
            [ngStyle]="{
              'background-color': 'var(--member-color-' + expense.paidBy + ')',
              'border-color': 'var(--member-color-' + expense.paidBy + ')'
            }"
          >
            <span class="username">{{ getFirstLetter(expense.paidBy) }}</span>
          </div>
          <h5 class="einzelneAusgabe">{{ expense.description }}</h5>
          <div class="expense-item">
            <div class="Ausgabepreis">
              <h5 class="Gesamtpreis">
                {{ expense.totalAmount | currency: 'EUR' }}
              </h5>
              <div class="amountToPay">
                <ng-container *ngIf="expense.paidBy !== uid && getUserAmount(expense) !== 0">
                  <span
                    class="paid"
                    *ngIf="!hasUserPaid(expense)">
                    offen
                  </span>
                  <span
                    class="paid"
                    *ngIf="hasUserPaid(expense)">
                    bezahlt
                  </span>
                </ng-container>

                <ion-badge class="Preis" [ngClass]="getAmountClass(expense)">
                  {{ getUserAmount(expense) | currency: 'EUR' }}
                </ion-badge>
              </div>


            </div>
          </div>
        </ion-item>
      </ng-container>
     <ion-infinite-scroll
      threshold="20px"
      (ionInfinite)="loadMoreExpenses($event)"
      [disabled]="!hasMoreExpenses"
    >
      <ion-infinite-scroll-content
        refreshingSpinner="crescent"
        loadingText="Weitere Ausgaben werden geladen..."
      ></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    </ion-list>

    <div class="button-container">
      <ion-button
        class="main-button"
        expand="block"
        (click)="goToCreateExpense()"
      >
        Neue Ausgabe hinzufügen
      </ion-button>
    </div>
  </div>
</ion-content>
