h4 {
  margin-bottom: 0px;
}

h1 {
  margin-top: 0px;
}

h5{
  font-size: 16px;
}

.einzelneAusgabe {
  width: 40%;
}

.expense-list {
  padding-bottom: 80px; /* Platz für die fixierte button-container */
}

.date {
  margin-top: 20px;
}
.button-container {
 padding-top: 10px;
}


.profile-placeholder .username{
  color: var(--ion-color-light);
  font-size: 12px;
  font-weight: 300;
}

.filter{
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 790px;
  background-color: white;
  border: var(--ion-color-secondary) solid 3px;
  border-radius: 50px;
  align-items: center;
}

ion-searchbar {
  --box-shadow: none;
  display: flex;
  border-radius: 50px;
  --background-color: white;
  flex: 8;
}

ion-searchbar::part(native) {
  background-color: var(--ion-color-secondary);
  border-radius: 50px;
  text-align: left;
}

.Kategorie {
  flex: 2;
  align-items: center;
  justify-content: right;
  margin-right: 15px;
  display: flex;
}

.Kategorie ion-item{
  margin-bottom: 0 !important;
}

.custom-dropdown {
  position: absolute;
  z-index: 9999;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  max-width: 400%;
  left: 50%;
  margin-top: 320px;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffffff;
  /* Scrollbar aktivieren */
  max-height: 300px; /* Passe die maximale Höhe an deine Anforderungen an */
  overflow-y: auto; /* Scrollbar aktivieren, wenn der Inhalt zu groß ist */
}

/* Optional: Scrollbar-Styling für Webkit-Browser */
.custom-dropdown::-webkit-scrollbar {
  width: 4px;
}

.custom-dropdown::-webkit-scrollbar-thumb {
  background-color: var(--ion-color-secondary);
  border-radius: 4px;
}

.custom-dropdown .selected {
  color: var(--ion-color-secondary-shade);
}

ion-item.dropDownFelder::part(native) {
  --background: #ffffff;
  background-color: #ffffff !important;

}

.selected-category ion-item::part(native) {
  width: 50px !important;
  margin-right: 10px !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}

.custom-dropdown ion-label {
  margin-left: 15px;
}

.filter .divider{
  background-color: var(--ion-color-secondary) !important;
  height: 45px !important;
  margin-top: 5px !important;
}
.custom-search{
  background-color: #ffffff !important;
}

.category-icon {
  font-size: 23px;
  padding: 5px;
}
ion-searchbar {
  --background: #ffffff !important;
}
.filter ion-item::part(native) {
  background-color: white !important;
}

@media (prefers-color-scheme: dark) {
  .date {
    color: var(--ion-color-light);
  }
  .input-label {
    color: #989797;
  }

  .custom-dropdown {
    background-color: #000000 !important; /* Schwarzer Hintergrund für die gesamte Dropdown-Box */
  }

  .dropDownFelder {
    background-color: #000000 !important; /* Schwarzer Hintergrund für die einzelnen Dropdown-Elemente */
  }

  .custom-dropdown ion-item::part(native) {
    background-color: #000000 !important; /* Schwarzer Hintergrund für jedes Listenelement */
    //color: #ffffff !important; /* Helle Schriftfarbe */
  }

  .custom-dropdown ion-item.selected ion-label {
    color: var(--ion-color-medium) !important; /* Schriftfarbe für das ausgewählte Element */
  }

  .custom-dropdown ion-item.selected::part(native){
    color: var(--ion-color-medium) !important; /* Schriftfarbe für das ausgewählte Element */
  }

  .custom-dropdown ion-item.selected ion-icon.category-icon {
    color: var(--ion-color-medium) !important; /* Farbe für das Icon des ausgewählten Elements */
  }

  .custom-dropdown ion-label {
    color: #ffffff !important; /* Helle Schriftfarbe für Labels */
  }
  
  .custom-dropdown ion-item ion-icon.category-icon {
    color: #ffffff !important; /* Weiße Farbe für das Icon im Dark-Modus */
  }

  .Kategorie ion-icon.category-icon {
    color: var(--ion-color-dark) !important; /* Schwarze Farbe für das Icon */
  }

  .custom-search{
    color: #000;
    background-color: #ffffff !important;
  }

}
