<ion-header [translucent]="true" class="header">
  <div class="backdrop-wrapper">
    <ion-toolbar>
      <div class="left-container" slot="start">
        <ion-icon
          [src]="iosIcons ? 'assets/icon/ionicons/ios-arrow-back.svg' : 'assets/icon/ionicons/md-arrow-back.svg'"
          class="back-button"
          (click)="goBack()"
        ></ion-icon>
      </div>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="balance-page-container" *ngIf="hasDebts()">
    <ion-button class="outline-button" expand="block">
      Beleg hinzufügen
    </ion-button>
    <div class="titel">
      <h4 *ngIf="gruppenausgleich; else meineSchulden">
        Großer Gruppenausgleich
      </h4>
      <ng-template #meineSchulden>
        <h4>Meine Schulden begleichen</h4>
      </ng-template>
      <h2>{{ groupname }}</h2>
    </div>

    <div class="debt-details" *ngFor="let fromUid of getUniqueFromUids(); let i = index">
      <!-- Oberer Abschnitt: Wer zahlen muss -->
      <div class="transaction-details">
        <!-- Linke Seite: Name + Pfeil -->
        <div class="left-side">
          <div>
            <span class="text">muss bezahlen</span>
            <div
              class="member-info"
              [ngStyle]="{
                'background-color': 'var(--member-color-background-' + fromUid + ')',
                'border-color': 'var(--member-color-' + fromUid + ')'
             }"
            >
              <div
                class="profile-placeholder"
                [ngStyle]="{
                'background-color': 'var(--member-color-' + fromUid + ')',
                'border-color': 'var(--member-color-' + fromUid + ')'
              }"
              ></div>
              <span class="member-name">{{ getMemberNameById(fromUid) }}</span>
            </div>
          </div>
          <div class="toggle-arrow" (click)="togglePayedBy(i)">
            <ion-icon
              [src]="showExpensesMap[i] ? 'assets/icon/ionicons/ios-arrow-down.svg' : 'assets/icon/ionicons/ios-arrow-up.svg'"
            ></ion-icon>
          </div>
        </div>

        <!-- Rechte Seite: Gesamtsumme -->
        <ion-badge class="BalancePrice">
          {{ getTotalDebtForFrom(fromUid) | number: '1.2-2' }}
        </ion-badge>
      </div>



      <!-- Liste: wem dieser Zahler etwas schuldet -->

      <ion-list class="payed-by" *ngIf="showExpensesMap[i]">
        <ion-item *ngFor="let debt of getDebtsByFrom(fromUid)">
          <span>bekommt</span>
          <div
            slot="start"
            class="member-info"
            [ngStyle]="{
        'background-color': 'var(--member-color-background-' + debt.to + ')',
        'border-color': 'var(--member-color-' + debt.to + ')'
      }"
          >
            <div
              class="profile-placeholder"
              [ngStyle]="{
          'background-color': 'var(--member-color-' + debt.to + ')',
          'border-color': 'var(--member-color-' + debt.to + ')'
        }"
            ></div>
            <span class="member-name">{{ getMemberNameById(debt.to) }}</span>
          </div>

          <ion-badge class="BalancePrice" slot="end">
            {{ debt.amount | number: '1.2-2' }}
          </ion-badge>
        </ion-item>
      </ion-list>

    </div>


    <div class="space"></div>
    <div class="button-container">
      <ion-button class="main-button" expand="block" (click)="pay()">
        Bilanzen wurden ausgeglichen
      </ion-button>
    </div>
  </div>
  <div class="balance-page-container-empty" *ngIf="!hasDebts()">
    <div class="nothingToPay">
      <h2 *ngIf="gruppenausgleich; else meineSchulden">
        Alle sind schuldenfrei! <br />🎉
      </h2>
      <ng-template #meineSchulden>
        <h2>Ich bin schuldenfrei! <br />🎉
        </h2>
      </ng-template>
    </div>
    <div class="button-container">
      <ion-button class="main-button" expand="block" (click)="goBack()">
        Okay!
      </ion-button>
    </div>
  </div>
</ion-content>
