h2 {
  margin: 0;
  text-align: center;
}

h4 {
  margin-top: 10px !important;
  text-align: center;
}

.titel {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 90%;
  align-items: center;
}

.beleg-button {
  width: 80%;
}

.balance-page-container {
  width: 100%;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.detailedprice-overview {
  width: 80%;
}

.detailedprice-list {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Setzt member-info und detailedprice an die Ränder */
  align-items: center; /* Vertikale Zentrierung der Elemente */
  padding: 10px 0; /* Etwas Abstand oben und unten */
}

.transaction-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.left-side .text{
  margin-left: 5px;
}


.member-info {
  display: flex;
  align-items: center;
  flex-grow: 0;
}

.detailedprice {
  display: inline-block;
  margin-bottom: 20px;
  flex-grow: 0;
}

.payed-by {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100% !important;
}

ion-item::part(native){
  margin-bottom: 15px;
}

.payed-by-lbl {
  margin-bottom: 5px;
}

.payed-by .member-info{
  height: 30px;
  border-radius: 50px;
  gap: 7px;
  background: var(--member-color-background, rgba(252, 238, 238, 0.84));
  border: 2px solid var(--member-color, #1a65eb);
  padding: 5px 10px 5px 5px;
}

.payed-by .member-info .profile-placeholder {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--user-color, #1a65eb);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--ion-color-dark);
  font-size: 16px;
  border: 2px solid;
}

.payed-by .BalancePrice{
  font-weight: 600;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 50px;
  background-color: white;
}

.edit-button {
  margin-top: 30px;
}

.toggle-arrow {
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-top: 15px;
}

.rotated {
  transform: rotate(180deg); /* Dreht den Pfeil um 180 Grad */
}

.product-list {
  margin-top: -20px;
  margin-bottom: 30px;
  padding-left: 10px;
  background-color: var(--ion-color-secondary);
  border-radius: 10px;
}

.product-list ul {
  list-style: none;
  padding: 0;
}

.product-list li {
  padding-top: 7px;
  padding-bottom: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details {
  width: 100%;
  align-items: center;
}

.product-quantity {
  flex-grow: 0;
  border-right: solid 1px var(--ion-color-dark);
  padding-right: 10px;
  width: 100px;
  text-align: end;
}
.header{
  width: 100% !important;
}

.product {
  flex-grow: 1;
  text-align: left;
}

.product-price {
  flex-grow: 0;
  text-align: right;
  margin-right: 10px;
  background-color: white;
  border-radius: 50px;
  padding: 5px 10px;
  font-weight: 200;
}

.invoice-overlay {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.5s ease-in-out, visibility 0s 0.5s;
  padding: 20px;
}

.invoice-overlay.start {
  top: 100%;
}

.invoice-overlay.normal {
  visibility: visible;
}

.invoice-overlay.slideUp {
  animation: slideUp 0.5s ease-in-out forwards;
}

.invoice-overlay.slideDown {
  animation: slideDown 0.5s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@keyframes slideDown {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

.invoice-wrapper {
  background: white;
  margin-top: 70px;
  border-radius: 20px;
  padding: 30px 25px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #2c2c2c;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.invoice-wrapper h5 {
  font-size: 20px;
  font-weight: 600;
  color: #111;
  margin: 0;
}

.invoice-wrapper span {
  margin-bottom: -10px;
}

.debt-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 10px 0;
  flex-direction: column;
}


h5{
  font-size: 16px;
}

.einzelneAusgabe {
  width: 40%;
}

.BalancePrice{
  font-weight: 600;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 50px;
}

.info-item{
  width: 100% !important;
}


.balance-page-container-empty{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
  text-align: center;
}

.nothingToPay h2{
  margin: auto;
}

