<ion-header [translucent]="true" class="header">
  <ion-toolbar>
    <div class="left-container" slot="start">
      <ion-icon
        [src]="iosIcons ? 'assets/icon/ionicons/ios-arrow-back.svg' : 'assets/icon/ionicons/md-arrow-back.svg'"
        class="back-button"
        (click)="goBack()"
      ></ion-icon>
    </div>

    <div class="right-container" slot="end">

    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="page-container" *ngIf="expense">
    <ion-button
      class="outline-button"
      expand="block">
      Beleg hinzufügen
    </ion-button>
    <div class="titel">
      <h4>Bilanzen ausgleichen</h4>
      <h2>{{ groupname }}</h2>
    </div>

    <div class="debt-details">
      <div
        class="member-info"
        [ngStyle]="{
                  'background-color': 'var(--member-color-background-' + uid + ')',
                  'border-color': 'var(--member-color-' + uid + ')'
               }"
      >
        <div
          class="profile-placeholder"
          [ngStyle]="{
                'background-color': 'var(--member-color-' + uid + ')',
                'border-color': 'var(--member-color-' + uid + ')'
              }"
        ></div>
        <span class="member-name">{{ user }}</span>
      </div>
      <span>überweise</span>
      <ion-badge class="Preis" [ngClass]="getAmountClass(expense[0], uid!)">
        {{ getAmountToPayForMember(expense[0], uid!) | currency:
        'EUR' }}
      </ion-badge>
      <span>an</span>

      <div
        class="member-info"
        [ngStyle]="{
                  'background-color': 'var(--member-color-background-' + expense[0].paidBy + ')',
                  'border-color': 'var(--member-color-' + expense[0].paidBy + ')'
               }"
      >
        <div
          class="profile-placeholder"
          [ngStyle]="{
                'background-color': 'var(--member-color-' + expense[0].paidBy + ')',
                'border-color': 'var(--member-color-' + expense[0].paidBy + ')'
              }"
        ></div>
        <span class="member-name">{{ expensePaidByUsername }}</span>
      </div>

    </div>
    <ng-container
      *ngIf="expense?.length && expense[0].expenseMember?.length && groupMembers?.length"
    >

      <div
        *ngIf="isProductsVisibleForMember(uid!)"
        class="product-list"
      >
        <ul>
          <li
            class="products"
            *ngFor="let product of getPurchasedProductsForMember(uid!)"
          >
            <div class="left-container">
                <span class="product-quantity"
                >{{ product.quantity }} {{ product.unit }}</span
                >
              <span class="product">{{ product.productname }}</span>
            </div>
            <ion-badge class="product-price">
              {{ product.price | currency: 'EUR' }}
            </ion-badge>
          </li>
        </ul>
      </div>
    </ng-container>

    <div class="space"></div>
    <div class="button-container">
      <ion-button
        class="main-button"
        expand="block"
        (click)="pay()">
        Bilanzen wurden ausgeglichen
      </ion-button>
    </div>
  </div>
</ion-content>
