<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>reset-password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">reset-password</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="container">
    <img src="assets/logo/Logo_lang.png" alt="Logo" class="logo">

    <h3>Passwort<br>zurücksetzen</h3>

    <ion-item class="input-item">
      <ion-input type="email" placeholder="E-Mail" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-button class="main-button" expand="block" (click)="resetPassword()">Senden</ion-button>
  </div>
</ion-content>
