<ion-content [fullscreen]="true" scroll="true">
  <div id="container" class="container">
    <img
      src="'assets/logo/Logo_lang.png' : 'assets/logo/LogoWeiss.png'"
      alt="Logo"
      class="logo"
    />

    <h3>Gruppe erstellen</h3>

    <div class="image-upload" (click)="selectImage()">
      <ng-container *ngIf="groupImage; else placeholder">
        <img [src]="groupImage" alt="Gruppenbild" class="group-image" />
      </ng-container>
      <ng-template #placeholder>
        <div class="upload-placeholder">+</div>
      </ng-template>
    </div>
    <input type="file" hidden #fileInput (change)="onFileSelected($event)" />

    <ion-item class="input-item">
      <ion-input
        type="text"
        placeholder="Gruppenname"
        [(ngModel)]="groupname"
        maxlength="20"
      ></ion-input>
      <ion-note slot="end">{{ groupname.length || 0 }}/20</ion-note>
    </ion-item>

    <ion-item class="input-item">
      <ion-label *ngIf="!selectedTemplate" class="Dropdown-label"
        >Template auswählen</ion-label
      >
      <ion-select [(ngModel)]="selectedTemplate">
        <ion-select-option
          *ngFor="let template of templates"
          [value]="template"
        >
          {{ template }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button class="main-button" expand="block" (click)="saveGroup()">
      Speichern
    </ion-button>

    <ion-button
      class="main-button"
      expand="block"
      [routerLink]="'/group-overview'">
      Abbrechen
    </ion-button>

  </div>
</ion-content>
