h2{
  margin: 0;
}

h4{
  margin-top: 10px !important;
}

.titel{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 30px;
  max-width: 80%;
}



.detailedprice-overview {
  width: 80%;
}

.detailedprice-list {
  width: 100%;
  display: flex;
  justify-content: space-between; /* Setzt member-info und detailedprice an die Ränder */
  align-items: center; /* Vertikale Zentrierung der Elemente */
  padding: 10px 0; /* Etwas Abstand oben und unten */
}

.member-info {
  display: flex;
  align-items: center;
  flex-grow: 0; /* Verhindert, dass die member-info-Box wächst */
}

.detailedprice {
  display: inline-block;
  margin-bottom: 20px;
  flex-grow: 0;
}

.payed-by {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 30px;
}

.payed-by-lbl {
  margin-bottom: 5px;
}

.edit-button {
  margin-top: 30px;
}

.toggle-arrow {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.rotated {
  transform: rotate(180deg); /* Dreht den Pfeil um 180 Grad */
}

.product-list {
  margin-top: -20px;
  margin-bottom: 30px;
  padding-left: 10px;
  background-color: var(--ion-color-secondary);
  border-radius: 10px;
}

.product-list ul {
  list-style: none;
  padding: 0;
}

.product-list li {
  padding-top: 7px;
  padding-bottom: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-details {
  width: 100%;
  align-items: center;
}

.product-quantity {
  flex-grow: 0;
  border-right: solid 1px var(--ion-color-dark);
  padding-right: 10px;
  width: 100px;
  text-align: end;
}

.product {
  flex-grow: 1;
  text-align: left;
}

.product-price {
  flex-grow: 0;
  text-align: right;
  margin-right: 10px;
  background-color: white;
  border-radius: 50px;
  padding: 5px 10px;
  font-weight: 200;
}

.invoice-overlay {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.5s ease-in-out, visibility 0s 0.5s;
  padding: 20px;
}

.invoice-overlay.start {
  top: 100%;
}

.invoice-overlay.normal {
  visibility: visible;
}

.invoice-overlay.slideUp {
  animation: slideUp 0.5s ease-in-out forwards;
}

.invoice-overlay.slideDown {
  animation: slideDown 0.5s ease-in-out forwards;
}

@keyframes slideUp {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@keyframes slideDown {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

.invoice-wrapper {
  background: white;
  margin-top: 70px;
  border-radius: 20px;
  padding: 30px 25px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #2c2c2c;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.invoice-wrapper h5 {
  font-size: 20px;
  font-weight: 600;
  color: #111;
  margin: 0;
}

.invoice-wrapper span {
  margin-bottom: -10px;
}

.debt-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: fit-content;
  padding: 10px 0;
  flex-direction: row;
}

.debt-details > * {
  margin: 0 10px;
}

.Preis {
  font-weight: 600;
  font-size: 20px;
  padding: 10px 20px;
}

@media (max-width: 500px) {
  .debt-details {
    flex-direction: column;
    align-items: center;
  }

  .debt-details > * {
    margin: 10px 0;
  }
}

